Repository dotnet/SqlClient: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml:
  name: $(DayOfYear)$(Rev:rr)
  schedules:
  - cron: 0 4 * * Sat
    displayName: Weekly Saturday 4:00 AM (UTC - 7) Build
    branches:
      include:
      - internal/release/6.1
    always: true
  extends:
    template: dotnet-sqlclient-ci-core.yml@self
    parameters:
      debug: ${{ parameters.debug }}
  ...

eng/pipelines/dotnet-sqlclient-signing-pipeline.yml:
  name: $(Year:YY)$(DayOfYear)$(Rev:.r)
  schedules:
  - cron: 30 4 * * Mon
    displayName: Weekly Sunday 9:30 PM (UTC - 7) Build
    branches:
      include:
      - internal/main
    always: true
  - cron: 30 3 * * Mon-Fri
    displayName: Mon-Fri 8:30 PM (UTC - 7) Build
    branches:
      include:
      - internal/main
  ...

eng/pipelines/sqlclient-pr-project-ref-pipeline.yml:
  name: $(DayOfYear)$(Rev:rr)
  extends:
    template: dotnet-sqlclient-ci-core.yml@self
    parameters:
      buildConfiguration: ${{ parameters.buildConfiguration }}
      buildPlatforms: ${{ parameters.buildPlatforms }}
      buildType: Project
  ...

Abstractions Package - C# project changes (#3626)
  .editorconfig
  BUILDGUIDE.md
  NuGet.config
  build.proj
  eng/pipelines/common/templates/jobs/build-signed-package-job.yml
  eng/pipelines/common/templates/jobs/ci-build-nugets-job.yml
  eng/pipelines/common/templates/steps/generate-nuget-package-step.yml
  eng/pipelines/libraries/ci-build-variables.yml
  eng/pipelines/libraries/common-variables.yml
  src/Directory.Build.props
  src/Directory.Packages.props
  src/Microsoft.Data.SqlClient.Extensions/Abstractions/README.md
  src/Microsoft.Data.SqlClient.Extensions/Abstractions/doc/Sample.xml
  src/Microsoft.Data.SqlClient.Extensions/Abstractions/src/Abstractions.csproj
  src/Microsoft.Data.SqlClient.Extensions/Abstractions/src/AbstractionsVersions.props
  src/Microsoft.Data.SqlClient.Extensions/Abstractions/src/Sample.cs
  src/Microsoft.Data.SqlClient.Extensions/Abstractions/test/Abstractions.Test.csproj
  src/Microsoft.Data.SqlClient.Extensions/Abstractions/test/SampleTest.cs
  src/Microsoft.Data.SqlClient.sln
  src/Microsoft.Data.SqlClient/add-ons/Directory.Build.props
  src/Microsoft.Data.SqlClient/netcore/ref/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netfx/ref/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft.Data.SqlClient.csproj
  tools/props/Versions.props
  tools/specs/Microsoft.Data.SqlClient.nuspec
  tools/specs/add-ons/Microsoft.Data.SqlClient.AlwaysEncrypted.AzureKeyVaultProvider.nuspec
  tools/targets/GenerateMdsPackage.targets
  tools/targets/GenerateNugetPackage.targets
  tools/targets/GenerateSqlServerPackage.targets
  tools/targets/add-ons/GenerateAKVProviderNugetPackage.targets
  tools/targets/add-ons/GenerateAkvPackage.targets
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

- Fixed old parameter name for AKV official pipeline.
  eng/pipelines/akv-official-pipeline.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

- Added ReferenceType property to official MDS build step.
  eng/pipelines/common/templates/jobs/build-signed-package-job.yml
  eng/pipelines/common/templates/steps/build-all-configurations-signed-dlls-step.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

- Added ReferenceType to MDS official build. - Made NuGet.config update pipeline step more robust.
  eng/pipelines/common/templates/jobs/build-signed-package-job.yml
  eng/pipelines/common/templates/jobs/run-tests-package-reference-job.yml
  eng/pipelines/common/templates/steps/ci-prebuild-step.yml
  eng/pipelines/common/templates/steps/update-nuget-config-local-feed-step.yml
  tools/targets/GenerateMdsPackage.targets
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

- Fixed typo in NuGet.config update template path.
  eng/pipelines/common/templates/jobs/build-signed-package-job.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Addressing comments from @edwardneal
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.Encryption.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Renaming the result set reading methods and applying a bit more cleanup on the code within.
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.Encryption.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Switch to westus2 pool
  eng/pipelines/dotnet-sqlclient-ci-core.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Update Test
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.SSPI.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionTests.cs
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS.Servers/GenericTdsServer.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Remove stray comment
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsEnums.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Cleanup
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS.Servers/GenericTdsServer.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Condense duplicate cases in ContinueTaskWithState
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlUtil.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Remove connectionToDoom and connectionToAbort from AsyncHelper.ContinueTask
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlBulkCopy.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlUtil.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Remove connection to abort AsyncHelpers.CreateContinuationTask
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/TdsParserStateObject.netfx.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlUtil.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Unify netcore/netfx exception converter - it was only used in one place and what made them different wasn't even utilized!
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlBulkCopy.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlUtil.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Remove connectionToDoom from CreateContinuationTask
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlUtil.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Make Uagent flag session based
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionTests.cs
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS.EndPoint/ITDSServerSession.cs
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS.Servers/GenericTdsServer.cs
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS.Servers/GenericTdsServerSession.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Missed one more reference
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.Reader.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Minor fix
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS.Servers/GenericTdsServer.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Changes for .net10 support
  src/Directory.Packages.props
  src/Microsoft.Data.SqlClient/add-ons/AzureKeyVaultProvider/Microsoft.Data.SqlClient.AlwaysEncrypted.AzureKeyVaultProvider.csproj
  src/Microsoft.Data.SqlClient/netcore/ref/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/tests/Directory.Build.props
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.csproj
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/Microsoft.Data.SqlClient.PerformanceTests.csproj
  src/Microsoft.Data.SqlClient/tests/StressTests/Directory.Build.props
  src/Microsoft.Data.SqlClient/tests/UnitTests/TdsParserInternalsTest.cs
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.ExtUtilities/Microsoft.Data.SqlClient.ExtUtilities.csproj
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Merge | Merge TdsParserStateObject, cleanup TdsParser files (#3647)
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/TdsParserStateObject.netcore.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/TdsParserStateObject.netfx.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnection.stub.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlDataReaderSmi.stub.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlInternalConnectionSmi.stub.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.SSPI.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.stub.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParserStateObject.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParserStateObjectManaged.netcore.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Adding release notes for v7.0.0-preview2
  release-notes/7.0/7.0.0-preview2.md
  release-notes/7.0/README.md
Due: none

Add LocalAppContextSwitch and CI fix
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/LocalAppContextSwitches.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/tests/Common/LocalAppContextSwitchesHelper.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionTests.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Minor fix
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Reverting this minor change
  src/Microsoft.Data.SqlClient/tests/UnitTests/TdsParserInternalsTest.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add JSON and Vector samples
  doc/samples/SqlJsonExample.cs
  doc/samples/SqlVectorExample.cs
Due: none

Disable incompatible tests on managed instance (#3678)
  src/Microsoft.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectivityTests/ConnectivityTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/JsonTest/JsonBulkCopyTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/JsonTest/JsonStreamTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/JsonTest/JsonTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/MARSSessionPoolingTest/MARSSessionPoolingTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/TransactionTest/DistributedTransactionTest.Windows.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/VectorTest/NativeVectorFloat32Tests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/VectorTest/VectorTypeBackwardCompatibilityTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/TracingTests/XEventsTracingTest.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Remove audit sources from NuGet.config
  NuGet.config
Due: eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Vbumpo
  eng/pipelines/libraries/common-variables.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Vbumpo (#3689)
  eng/pipelines/libraries/common-variables.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Change expected newline char when parsing file.
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestFixtures/Setup/CryptoNativeBaselineReader.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Always run tests. Expected newline is os specific. Switch baselines back to CRLF.
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/CoreCryptoTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestFixtures/Setup/CryptoNativeBaselineReader.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Conditional logic for system dlls which are part of BCL in .NET 10
  src/Microsoft.Data.SqlClient/add-ons/AzureKeyVaultProvider/Microsoft.Data.SqlClient.AlwaysEncrypted.AzureKeyVaultProvider.csproj
  src/Microsoft.Data.SqlClient/netcore/ref/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/src/Microsoft.Data.SqlClient.csproj
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Adding 1ES inventory file.
  es-metadata.yml
Due: none

Change expected newline char when parsing crypto test baseline file. (#3690)
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/CoreCryptoTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestFixtures/Setup/CryptoNativeBaselineReader.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Adding 1ES inventory file. (#3692)
  es-metadata.yml
Due: none

Disable tests on verification stage
  eng/pipelines/dotnet-sqlclient-signing-pipeline.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Disable tests on verification stage (#3695)
  eng/pipelines/dotnet-sqlclient-signing-pipeline.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Path conditions:
  eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml: any of: src\Microsoft.Data.SqlClient\netcore\ref, src\Microsoft.Data.SqlClient\netfx\ref, src\Microsoft.Data.SqlClient\ref, eng, tools, .config, Nuget.config
  eng/pipelines/dotnet-sqlclient-signing-pipeline.yml: any of: src, eng, tools, .config, build.proj, Nuget.config, *.cmd, *.sh
  eng/pipelines/sqlclient-pr-project-ref-pipeline.yml: any of: .azuredevops, .config, src, eng, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
