Repository dotnet/SqlClient: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Path conditions:
  eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml: any of: .azuredevops, .config, doc, eng/pipelines, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-signing-pipeline.yml: any of: .azuredevops, .config, doc, eng/pipelines, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/sqlclient-pr-package-ref-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/sqlclient-pr-project-ref-pipeline.yml: any of: .azuredevops, .config, src, eng, tools, azurepipelines-coverage.yml, build.proj, NuGet.config

Align read of EkValueCount in COLMETADATA with TDS USHORT datatype
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Reformat LCID/codepage mapping table, adding LCID descriptions
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/LocalesHelper.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Fix Kerberos SSPI authentication failure when using TCP proxy in manual tests
  src/Microsoft.Data.SqlClient/tests/ManualTests/DataCommon/ProxyServer.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Fix flaky SequentialAccess test with dynamic expected value
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/DataStreamTest/DataStreamTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Task 43695: Use dotnet CLI exclusively
  .github/copilot-instructions.md
  .github/instructions/ado-pipelines.instructions.md
  .github/instructions/architecture.instructions.md
  .github/instructions/testing.instructions.md
  .github/plans/apicompat-ref-assembly-validation.md
  BUILDGUIDE.md
  doc/apps/AzureAuthentication/README.md
  eng/pipelines/common/templates/jobs/ci-build-nugets-job.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Task 43695: Use dotnet CLI exclusively
  TESTGUIDE.md
  build.proj
  eng/pipelines/common/templates/steps/ci-project-build-step.yml
  eng/pipelines/common/templates/steps/run-all-tests-step.yml
  eng/pipelines/jobs/test-abstractions-package-ci-job.yml
  eng/pipelines/jobs/test-azure-package-ci-job.yml
  eng/pipelines/onebranch/steps/build-buildproj-step.yml
  eng/pipelines/onebranch/steps/pack-buildproj-step.yml
  eng/pipelines/onebranch/steps/roslyn-analyzers-buildproj-step.yml
  eng/pipelines/stress/stress-tests-job.yml
  tools/targets/CompareMdsRefAssemblies.targets
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Task 43695: Use dotnet CLI exclusively
  build.proj
  eng/pipelines/common/templates/jobs/ci-build-nugets-job.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Refine PackageCompatibility package version reporting and docs
  tools/PackageCompatibility/App.cs
  tools/PackageCompatibility/Directory.Packages.props
  tools/PackageCompatibility/EntryPoint.cs
  tools/PackageCompatibility/PackageCompatibility.csproj
  tools/PackageCompatibility/README.md
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Use dotnet-based pipeline steps and fix docs
  .github/instructions/testing.instructions.md
  .github/plans/apicompat-ref-assembly-validation.md
  BUILDGUIDE.md
  build.proj
  eng/pipelines/common/templates/jobs/ci-build-nugets-job.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Task 42952: 3. Write release notes
  CHANGELOG.md
  release-notes/6.1/6.1.5.md
  release-notes/6.1/README.md
Due: none

Updated release date to Apr 27.
  CHANGELOG.md
  release-notes/6.1/6.1.5.md
  release-notes/6.1/README.md
Due: none

vbumpo
  eng/pipelines/libraries/ci-build-variables.yml
  eng/pipelines/onebranch/variables/package-variables.yml
  src/Microsoft.Data.SqlClient/Versions.props
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

:robot: Release notes and updates to related agent stuff
  .github/instructions/architecture.instructions.md
  .github/instructions/testing.instructions.md
  .github/skills/generate-mstest-filter/SKILL.md
  CHANGELOG.md
  release-notes/7.1/7.1.0-preview1.md
  release-notes/7.1/README.md
  release-notes/README.md
Due: none

Fix test connection string.
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/WaitHandleDbConnectionPoolTransactionTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

vbump file version
  eng/pipelines/onebranch/variables/package-variables.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Experimental
  release-notes/7.1/7.1.0-preview1.md
Due: none

[v7.1.0-preview1] Release Notes and vBump (#4241)
  .github/instructions/architecture.instructions.md
  .github/instructions/testing.instructions.md
  .github/skills/generate-mstest-filter/SKILL.md
  CHANGELOG.md
  eng/pipelines/libraries/ci-build-variables.yml
  eng/pipelines/onebranch/variables/package-variables.yml
  release-notes/7.1/7.1.0-preview1.md
  release-notes/7.1/README.md
  release-notes/README.md
  src/Microsoft.Data.SqlClient/Versions.props
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add Internal.Logging and Extensions.Abstractions version support to AzureAuthentication app
  doc/apps/AzureAuthentication/App.cs
  doc/apps/AzureAuthentication/AzureAuthentication.csproj
  doc/apps/AzureAuthentication/Directory.Packages.props
  doc/apps/AzureAuthentication/EntryPoint.cs
  doc/apps/AzureAuthentication/PackageVersions.Partial.cs
  doc/apps/AzureAuthentication/README.md
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml

Move AzureAuthentication app to tools/PackageCompatibility and rename
  tools/PackageCompatibility/App.cs
  tools/PackageCompatibility/Directory.Build.props
  tools/PackageCompatibility/Directory.Packages.props
  tools/PackageCompatibility/EntryPoint.cs
  tools/PackageCompatibility/GeneratePackageVersions.targets
  tools/PackageCompatibility/NuGet.config
  tools/PackageCompatibility/PackageCompatibility.csproj
  tools/PackageCompatibility/PackageVersions.Partial.cs
  tools/PackageCompatibility/README.md
  tools/PackageCompatibility/SqlClientEventListener.cs
  tools/PackageCompatibility/packages/.gitkeep
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

- Moved this app from doc/apps to tools/ which seems like a better fit. - Added support to specify all SqlClient suite package versions. - Added a modern xUnit3 test suite.
  .github/instructions/testing.instructions.md
  src/Microsoft.Data.SqlClient.slnx
  tools/PackageCompatibility/Directory.Packages.props
  tools/PackageCompatibility/README.md
  tools/PackageCompatibility/global.json
  tools/PackageCompatibility/src/App.cs
  tools/PackageCompatibility/src/EntryPoint.cs
  tools/PackageCompatibility/src/GeneratePackageVersions.targets
  tools/PackageCompatibility/src/PackageCompatibility.csproj
  tools/PackageCompatibility/src/PackageVersions.Partial.cs
  tools/PackageCompatibility/src/SqlClientEventListener.cs
  tools/PackageCompatibility/test/AppTests.cs
  tools/PackageCompatibility/test/BuildVersionOverrideTests.cs
  tools/PackageCompatibility/test/ConsoleCollection.cs
  tools/PackageCompatibility/test/EntryPointTests.cs
  tools/PackageCompatibility/test/PackageCompatibility.Test.csproj
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Removed unused Azure.Core package version.
  tools/PackageCompatibility/Directory.Packages.props
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Address Copilot review comments on PR 4242
  .github/instructions/testing.instructions.md
  tools/PackageCompatibility/Directory.Packages.props
  tools/PackageCompatibility/README.md
  tools/PackageCompatibility/test/BuildVersionOverrideTests.cs
  tools/PackageCompatibility/test/EntryPointTests.cs
  tools/PackageCompatibility/test/IsExternalInit.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Remove vector-feature.instructions file
  .github/instructions/vector-feature.instructions.md
Due: none

Added instructions for identifying changes specific to a subset of TFMs and OSes, where applicable.
  .github/prompts/release-notes.prompt.md
Due: none

Fixed a typo in agent testing instructions.
  .github/instructions/testing.instructions.md
Due: none

Added explanation of why this tool is useful, and how it differs from running manual tests.
  tools/PackageCompatibility/README.md
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Correct endregion whitespace
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlTypes/SqlVector.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add glob to ESRP search pattern
  eng/pipelines/onebranch/jobs/build-buildproj-job.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Minor touch-ups to BuildGuide
  BUILDGUIDE.md
Due: none

Minor proof-reads
  BUILDGUIDE.md
Due: none

Fix PackageVersion for Azure package
  build.proj
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Potential fix for pull request finding
  BUILDGUIDE.md
Due: none

Add =
  BUILDGUIDE.md
Due: none

Add another =
  BUILDGUIDE.md
Due: none
