Repository dotnet/SqlClient: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Path conditions:
  eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml: any of: .azuredevops, .config, doc, eng/pipelines, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-signing-pipeline.yml: any of: .azuredevops, .config, doc, eng/pipelines, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/sqlclient-pr-package-ref-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/sqlclient-pr-project-ref-pipeline.yml: any of: .azuredevops, .config, src, eng, tools, azurepipelines-coverage.yml, build.proj, NuGet.config

Bump up the AKVProvider Version
  eng/pipelines/onebranch/variables/common-variables.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add tests for CancellationTokenSource disposal safety (PR #4009)
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/DataStreamTest/CancellationTokenSourceDisposalTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Address PR #4015 review feedback and fix denied-version test
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnectionOptions.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlParameter.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionTests.cs
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS/TDSVersion.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Point ADIntegratedUsingSSPI ActiveIssue at AB#45941
  src/Microsoft.Data.SqlClient.Extensions/Azure/test/AADConnectionTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

[6.1.6] Set SqlClient 6.1.6 version numbers (#4394)
  eng/pipelines/onebranch/variables/common-variables.yml
  src/Microsoft.Data.SqlClient/tests/StressTests/Directory.Packages.props
  tools/props/Versions.props
  tools/specs/add-ons/Microsoft.Data.SqlClient.AlwaysEncrypted.AzureKeyVaultProvider.nuspec
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add release notes for 7.0.2
  CHANGELOG.md
  release-notes/7.0/7.0.2.md
  release-notes/7.0/README.md
  release-notes/Extensions/Azure/7.0/7.0.2.md
  release-notes/Extensions/Azure/7.0/README.md
  release-notes/README.md
Due: none

Test | Fix SQL Server 2016 BulkCopy test failures
  src/Microsoft.Data.SqlClient/tests/ManualTests/BulkCopy/CopyAllFromReader.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/BulkCopy/UnprivilegedLogin.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add notes for version alignment for each extension
  CHANGELOG.md
  release-notes/Extensions/Abstractions/7.0/7.0.2.md
  release-notes/Extensions/Abstractions/7.0/README.md
  release-notes/Internal/Logging/7.0/7.0.2.md
  release-notes/Internal/Logging/7.0/README.md
  release-notes/README.md
  release-notes/add-ons/AzureKeyVaultProvider/7.0/7.0.2.md
  release-notes/add-ons/AzureKeyVaultProvider/7.0/README.md
Due: none

Add release notes for 6.1.6
  CHANGELOG.md
  release-notes/6.1/6.1.6.md
  release-notes/6.1/README.md
Due: none

Test | Restore client-side rejection coverage for unsupported TDS versions (PR #4015)
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionTests.cs
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS/TDSVersion.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Address comments
  CHANGELOG.md
  release-notes/6.1/6.1.6.md
Due: none

Fix tests
  src/Microsoft.Data.SqlClient/tests/Common/CommonUtils.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectivityTests/AADConnectionTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

missing cleanup of CancellationTokenSource (#4009)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ManagedSni/SsrpClient.netcore.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.NonQuery.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.Reader.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnection.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlDataReader.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlSequentialStream.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlSequentialTextReader.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/DataStreamTest/CancellationTokenSourceDisposalTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Minor adjustments
  CHANGELOG.md
  release-notes/7.0/7.0.2.md
  release-notes/Extensions/Azure/7.0/7.0.2.md
Due: none

SqlBatchCommand support CommandBehavior (#4125)
  doc/snippets/Microsoft.Data.SqlClient/SqlBatch.xml
  doc/snippets/Microsoft.Data.SqlClient/SqlBatchCommand.xml
  src/Microsoft.Data.SqlClient/ref/Microsoft.Data.SqlClient.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlBatch.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.Batch.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.Reader.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/Batch/BatchTests.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/SqlBatchTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Highlight package version alignment in 7.0.2 release notes
  CHANGELOG.md
  release-notes/7.0/7.0.2.md
Due: none

Add internal-use note to Logging 7.0 index README
  release-notes/Internal/Logging/7.0/README.md
Due: none

Fix TestCustomProviderAuthentication
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectivityTests/AADConnectionTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Address comments
  src/Microsoft.Data.SqlClient/tests/ManualTests/DataCommon/UserAssignedManagedIdentityProvider.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectivityTests/AADConnectionTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

First round of review changes.
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/Common/AdapterUtil.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/BlockingPeriodErrorState.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Remove unused AADAuthorityURL config as well
  TESTGUIDE.md
  eng/pipelines/common/templates/jobs/ci-run-tests-job.yml
  eng/pipelines/common/templates/steps/update-config-file-step.yml
  eng/pipelines/dotnet-sqlclient-ci-core.yml
  src/Microsoft.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectionPoolTest/ConnectionPoolTest.cs
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities/Config.cs
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities/config.default.jsonc
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add release notes for 6.1.6 (#4404)
  CHANGELOG.md
  release-notes/6.1/6.1.6.md
  release-notes/6.1/README.md
Due: none

Add release notes for 7.0.2 (#4403)
  CHANGELOG.md
  release-notes/7.0/7.0.2.md
  release-notes/7.0/README.md
  release-notes/Extensions/Abstractions/7.0/7.0.2.md
  release-notes/Extensions/Abstractions/7.0/README.md
  release-notes/Extensions/Azure/7.0/7.0.2.md
  release-notes/Extensions/Azure/7.0/README.md
  release-notes/Internal/Logging/7.0/7.0.2.md
  release-notes/Internal/Logging/7.0/README.md
  release-notes/README.md
  release-notes/add-ons/AzureKeyVaultProvider/7.0/7.0.2.md
  release-notes/add-ons/AzureKeyVaultProvider/7.0/README.md
Due: none

Upgrade gh aw workflows
  .github/agents/agentic-workflows.md
  .github/aw/actions-lock.json
  .github/skills/agentic-workflows/SKILL.md
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/issue-triage.lock.yml
Due: none

Update verify action
  .github/workflows/verify-aw-lock.yml
Due: none

Upgrade gh aw workflows (#4406)
  .github/agents/agentic-workflows.md
  .github/aw/actions-lock.json
  .github/skills/agentic-workflows/SKILL.md
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/issue-triage.lock.yml
  .github/workflows/verify-aw-lock.yml
Due: none

Docs | Fix server certificate docs
  doc/snippets/Microsoft.Data.SqlClient/SqlConnectionStringBuilder.xml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml

Tests | Address additional flaky tests (#4305)
  src/Microsoft.Data.SqlClient/tests/Common/Fixtures/AzureKeyVaultKeyFixtureBase.cs
  src/Microsoft.Data.SqlClient/tests/Common/LocalAppContextSwitchesHelper.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/Batch/BatchTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/SqlCommand/SqlCommandCancelTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/LocalAppContextSwitchesTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Require exhaustive switch statements.
  .editorconfig
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/DbConnectionPoolGroup.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Update release-notes-prompt and link extension notes in MDS notes for 7.0.2
  .github/prompts/release-notes.prompt.md
  release-notes/7.0/7.0.2.md
Due: none

Add BuildAll target (#4290)
  .github/workflows/codeql.yml
  BUILDGUIDE.md
  build.proj
  src/Microsoft.Data.SqlClient.Extensions/Azure/test/Azure.Test.csproj
  src/Microsoft.Data.SqlClient/tests/Common/Microsoft.Data.SqlClient.TestCommon.csproj
  src/Microsoft.Data.SqlClient/tests/CustomConfigurableRetryLogic/CustomRetryLogicProvider.csproj
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/Microsoft.Data.SqlClient.FunctionalTests.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTests.csproj
  src/Microsoft.Data.SqlClient/tests/StressTests/Directory.Build.props
  src/Microsoft.Data.SqlClient/tests/TestUdts/Address/Address.csproj
  src/Microsoft.Data.SqlClient/tests/TestUdts/Circle/Circle.csproj
  src/Microsoft.Data.SqlClient/tests/TestUdts/Shapes/Shapes.csproj
  src/Microsoft.Data.SqlClient/tests/TestUdts/Utf8String/Utf8String.csproj
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft.Data.SqlClient.UnitTests.csproj
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS.EndPoint/TDS.EndPoint.csproj
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add PackageValidator tool for NuGet package inspection and validation
  tools/PackageValidator/AssemblyInspector.cs
  tools/PackageValidator/BinaryClassifier.cs
  tools/PackageValidator/Directory.Build.props
  tools/PackageValidator/Directory.Packages.props
  tools/PackageValidator/HumanReporter.cs
  tools/PackageValidator/Json.cs
  tools/PackageValidator/Models.Common.cs
  tools/PackageValidator/Models.Report.cs
  tools/PackageValidator/NativeVersionReader.cs
  tools/PackageValidator/PackageInspector.cs
  tools/PackageValidator/PackageValidator.csproj
  tools/PackageValidator/PortablePdb.cs
  tools/PackageValidator/Program.cs
  tools/PackageValidator/SymbolResolver.cs
  tools/PackageValidator/Validator.cs
  tools/PackageValidator/VersionExpectations.cs
  tools/PackageValidator/VersionRange.cs
  tools/PackageValidator/tests/AssemblyInspectorTests.cs
  tools/PackageValidator/tests/BinaryClassifierTests.cs
  tools/PackageValidator/tests/Directory.Build.props
  tools/PackageValidator/tests/Directory.Packages.props
  tools/PackageValidator/tests/PackageValidator.Tests.csproj
  tools/PackageValidator/tests/ValidatorTests.cs
  tools/PackageValidator/tests/VersionExpectationsTests.cs
  tools/PackageValidator/tests/VersionRangeTests.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Restructure PackageValidator and address PR #4407 review feedback
  BUILDGUIDE.md
  build.proj
  tools/PackageValidator/Directory.Packages.props
  tools/PackageValidator/VersionRange.cs
  tools/PackageValidator/global.json
  tools/PackageValidator/src/AssemblyInspector.cs
  tools/PackageValidator/src/BinaryClassifier.cs
  tools/PackageValidator/src/HumanReporter.cs
  tools/PackageValidator/src/Json.cs
  tools/PackageValidator/src/Models.Common.cs
  tools/PackageValidator/src/Models.Report.cs
  tools/PackageValidator/src/NativeVersionReader.cs
  tools/PackageValidator/src/PackageInspector.cs
  tools/PackageValidator/src/PackageValidator.csproj
  tools/PackageValidator/src/PortablePdb.cs
  tools/PackageValidator/src/Program.cs
  tools/PackageValidator/src/SymbolResolver.cs
  tools/PackageValidator/src/Validator.cs
  tools/PackageValidator/src/VersionExpectations.cs
  tools/PackageValidator/src/VersionRange.cs
  tools/PackageValidator/test/AssemblyInspectorTests.cs
  tools/PackageValidator/test/BinaryClassifierTests.cs
  tools/PackageValidator/test/PackageValidator.Test.csproj
  tools/PackageValidator/test/ValidatorTests.cs
  tools/PackageValidator/test/VersionExpectationsTests.cs
  tools/PackageValidator/test/VersionRangeTests.cs
  tools/PackageValidator/tests/Directory.Build.props
  tools/PackageValidator/tests/Directory.Packages.props
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Document PackageValidator tests and add tools to the solution
  src/Microsoft.Data.SqlClient.slnx
  tools/PackageValidator/test/AssemblyInspectorTests.cs
  tools/PackageValidator/test/BinaryClassifierTests.cs
  tools/PackageValidator/test/ValidatorTests.cs
  tools/PackageValidator/test/VersionExpectationsTests.cs
  tools/PackageValidator/test/VersionRangeTests.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Fix SPN using instance name instead of resolved port for Protocol.None and Protocol.Admin (#4180)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ManagedSni/SniProxy.netcore.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/InstanceNameTest/InstanceNameTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/KerberosTests/KerberosTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/RetryLogic/SqlCommandReliabilityTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/SqlDSEnumeratorTest/SqlDataSourceEnumeratorTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/ManagedSni/SniProxyGetSqlServerSPNsTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/ManagedSni/SniProxyGetSqlServerSPNsWindowsTests.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Consolidate OS detection to OsConstants
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/Common/AdapterUtil.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/LocalAppContextSwitches.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/OsConstants.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlColumnEncryptionCertificateStoreProvider.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlColumnEncryptionCngProvider.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlColumnEncryptionCspProvider.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlUtil.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParserStaticMethods.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/UserAgent.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlTypes/SqlFileStream.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Address Copilot OS guard feedback
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/Common/AdapterUtil.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/LocalAppContextSwitches.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/OsConstants.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlColumnEncryptionCngProvider.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlColumnEncryptionCspProvider.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlTypes/SqlFileStream.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Expose OsConstants flags as intrinsic properties for IL trimming
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/OsConstants.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Use OperatingSystem.Is*() on .NET for JIT-intrinsic OS checks
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/OsConstants.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

remove sqlserver 7 and 2000 support (#4015)
  src/Microsoft.Data.SqlClient.Extensions/Azure/test/AADConnectionTest.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/Connection/SqlConnectionInternal.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnectionOptions.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlDataReader.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlInternalTransaction.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlParameter.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsEnums.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/BulkCopy/CopyAllFromReader.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/BulkCopy/UnprivilegedLogin.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionTests.cs
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS/TDSVersion.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml
