Repository dotnet/SqlClient: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml:
  name: $(DayOfYear)$(Rev:rr)
  schedules:
  - cron: 0 3 * * Mon-Fri
    displayName: Weekday Run (Release Config)
    branches:
      include:
      - main
    always: true
  - cron: 0 7 * * Thu
    displayName: Thursday Run (Release Config)
    branches:
      include:
      - internal/main
    always: true
  extends:
  ...

eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml:
  name: $(DayOfYear)$(Rev:rr)
  schedules:
  - cron: 0 6 * * Sun
    displayName: Sunday Run
    branches:
      include:
      - release/6.0
    always: true
  - cron: 0 7 * * Sun
    displayName: Sunday Run
    branches:
      include:
      - internal/release/6.0
    always: true
  extends:
  ...

eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml:
  name: $(Year:YY)$(DayOfYear)$(Rev:.r)
  schedules:
  - cron: 30 4 * * Mon
    displayName: Weekly Sunday 9:30 PM (UTC - 7) Build
    branches:
      include:
      - internal/main
    always: true
  - cron: 30 3 * * Mon-Fri
    displayName: Mon-Fri 8:30 PM (UTC - 7) Build
    branches:
      include:
      - internal/main
  ...

eng/pipelines/dotnet-sqlclient-signing-pipeline.yml:
  name: $(Year:YY)$(DayOfYear)$(Rev:.r)
  schedules:
  - cron: 30 4 * * Mon
    displayName: Weekly Sunday 9:30 PM (UTC - 7) Build
    branches:
      include:
      - internal/main
    always: true
  - cron: 30 3 * * Mon-Fri
    displayName: Mon-Fri 8:30 PM (UTC - 7) Build
    branches:
      include:
      - internal/main
  ...

eng/pipelines/sqlclient-pr-package-ref-pipeline.yml:
  name: $(DayOfYear)$(Rev:rr)
  extends:
    template: dotnet-sqlclient-ci-core.yml@self
    parameters:
      buildConfiguration: ${{ parameters.buildConfiguration }}
      buildPlatforms: ${{ parameters.buildPlatforms }}
      referenceType: Package
  ...

eng/pipelines/sqlclient-pr-project-ref-pipeline.yml:
  name: $(DayOfYear)$(Rev:rr)
  extends:
    template: dotnet-sqlclient-ci-core.yml@self
    parameters:
      buildConfiguration: ${{ parameters.buildConfiguration }}
      buildPlatforms: ${{ parameters.buildPlatforms }}
      buildType: Project
  ...

Cleanup
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/WaitHandleDbConnectionPool.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/SqlConnectionInternalTimeoutTests.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Update package versions to match runtime band.
  Directory.Packages.props
  src/Microsoft.Data.SqlClient/src/Microsoft.Data.SqlClient.nuspec
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add instructions file.
  .github/instructions/package-versions.instructions.md
Due: none

Add categorization instructions
  .github/instructions/package-versions.instructions.md
Due: none

Remove TimeProvider for .NET
  src/Microsoft.Data.SqlClient/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/src/Microsoft.Data.SqlClient.nuspec
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/ProviderBase/TimeoutTimer.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Config.json changes applied to pipelines.
  eng/pipelines/common/templates/jobs/ci-run-tests-job.yml
  eng/pipelines/common/templates/steps/update-config-file-step.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Restore tools in all instances before running jobs.
  eng/pipelines/pr/steps/install-dotnet.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Getting really tired of these changes
  eng/pipelines/pr/stages/pack-stage.yml
  eng/pipelines/pr/steps/install-dotnet.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

wouldn't it be nice if we had something to verify this before pushing a bunch of tiny little changes?
  eng/pipelines/pr/steps/install-dotnet.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Hope it can handle extra spaces.
  eng/pipelines/pr/steps/install-dotnet.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Fix path to dotnet arm64 installation script
  eng/pipelines/common/steps/install-dotnet.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Remove reference to ADO Test Configuration Properties variable group.
  eng/pipelines/pr/variables/pr-variables.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Parameterize the pool
  eng/pipelines/pr/jobs/test-buildproj-job.yml
  eng/pipelines/pr/jobs/test-sqlclientmanual-job.yml
  eng/pipelines/pr/pr-pipeline.yml
  eng/pipelines/pr/stages/test-stages.yml
  eng/pipelines/pr/variables/pr-variables.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

It's not a pipeline parameter you stupid :robot:
  eng/pipelines/pr/pr-pipeline.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

:rage:
  eng/pipelines/pr/pr-pipeline.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Tests | Address transient errors in CI pipelines (#4314)
  eng/pipelines/steps/install-dotnet.yml
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/LocalAppContextSwitchesTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionFailoverTests.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionRoutingTestsAzure.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Address review feedback for idle connection timeout
  doc/snippets/Microsoft.Data.SqlClient/SqlConnectionStringBuilder.xml
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/DbConnectionPoolOptions.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/WaitHandleDbConnectionPool.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnectionOptions.cs
  src/Microsoft.Data.SqlClient/src/Resources/Strings.Designer.cs
  src/Microsoft.Data.SqlClient/src/Resources/Strings.resx
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/WaitHandleDbConnectionPoolIdleTimeoutTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

PR feedback
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlBatch.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/Batch/BatchTests.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add odbc native app
  docs/icm-792529661-investigation-summary.md
  tools/OdbcMemoryBenchmarkNative/CMakeLists.txt
  tools/OdbcMemoryBenchmarkNative/OdbcMemoryBenchmark.cpp
  tools/OdbcMemoryBenchmarkNative/README.md
  tools/OdbcMemoryBenchmarkNative/build/ALL_BUILD.vcxproj
  tools/OdbcMemoryBenchmarkNative/build/ALL_BUILD.vcxproj.filters
  tools/OdbcMemoryBenchmarkNative/build/CMakeCache.txt
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/35747a0064f691406be424b43a6a01e6/generate.stamp.rule
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/4.2.3-msvc3/CMakeCXXCompiler.cmake
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/4.2.3-msvc3/CMakeDetermineCompilerABI_CXX.bin
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/4.2.3-msvc3/CMakeRCCompiler.cmake
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/4.2.3-msvc3/CMakeSystem.cmake
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/4.2.3-msvc3/CompilerIdCXX/CMakeCXXCompilerId.cpp
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/4.2.3-msvc3/CompilerIdCXX/CompilerIdCXX.exe
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/4.2.3-msvc3/CompilerIdCXX/CompilerIdCXX.vcxproj
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/4.2.3-msvc3/VCTargetsPath.txt
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/4.2.3-msvc3/VCTargetsPath.vcxproj
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/CMakeConfigureLog.yaml
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/InstallScripts.json
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/TargetDirectories.txt
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/cmake.check_cache
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/generate.stamp
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/generate.stamp.depend
  tools/OdbcMemoryBenchmarkNative/build/CMakeFiles/generate.stamp.list
  tools/OdbcMemoryBenchmarkNative/build/OdbcMemoryBenchmark.slnx
  tools/OdbcMemoryBenchmarkNative/build/OdbcMemoryBenchmark.vcxproj
  tools/OdbcMemoryBenchmarkNative/build/OdbcMemoryBenchmark.vcxproj.filters
  tools/OdbcMemoryBenchmarkNative/build/ZERO_CHECK.vcxproj
  tools/OdbcMemoryBenchmarkNative/build/ZERO_CHECK.vcxproj.filters
  tools/OdbcMemoryBenchmarkNative/build/cmake_install.cmake
  tools/StrictEncryptMemoryBenchmark/NativeMemoryLeakDetector.cs
  tools/StrictEncryptMemoryBenchmark/StrictEncryptMemoryBenchmark.csproj
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

﻿ Address PR #4302 review feedback and drop spec FR-00x labels
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/ChannelDbConnectionPool.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/WaitHandleDbConnectionPool.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/ChannelDbConnectionPoolShutdownTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/WaitHandleDbConnectionPoolShutdownTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add one-time follow-up triage when author provides missing env info
  .github/workflows/issue-triage.md
Due: none

docs: Add Azure DevOps work item markdown formatting instructions
  .github/instructions/ado-work-items-markdown.instructions.md
  AGENTS.md
Due: none

- Added a prompt to help review PR feedback. - Tested it with this PRs comments.
  .github/prompts/review-pr-feedback.prompt.md
Due: none

docs: address PR 4253 review feedback in ADO markdown guide
  .github/instructions/ado-work-items-markdown.instructions.md
Due: none

Refine PackageCompatibility package version reporting and docs
  tools/PackageCompatibility/App.cs
  tools/PackageCompatibility/Directory.Packages.props
  tools/PackageCompatibility/EntryPoint.cs
  tools/PackageCompatibility/PackageCompatibility.csproj
  tools/PackageCompatibility/README.md
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add Internal.Logging and Extensions.Abstractions version support to AzureAuthentication app
  doc/apps/AzureAuthentication/App.cs
  doc/apps/AzureAuthentication/AzureAuthentication.csproj
  doc/apps/AzureAuthentication/Directory.Packages.props
  doc/apps/AzureAuthentication/EntryPoint.cs
  doc/apps/AzureAuthentication/PackageVersions.Partial.cs
  doc/apps/AzureAuthentication/README.md
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml

Move AzureAuthentication app to tools/PackageCompatibility and rename
  tools/PackageCompatibility/App.cs
  tools/PackageCompatibility/Directory.Build.props
  tools/PackageCompatibility/Directory.Packages.props
  tools/PackageCompatibility/EntryPoint.cs
  tools/PackageCompatibility/GeneratePackageVersions.targets
  tools/PackageCompatibility/NuGet.config
  tools/PackageCompatibility/PackageCompatibility.csproj
  tools/PackageCompatibility/PackageVersions.Partial.cs
  tools/PackageCompatibility/README.md
  tools/PackageCompatibility/SqlClientEventListener.cs
  tools/PackageCompatibility/packages/.gitkeep
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Removed unused Azure.Core package version.
  tools/PackageCompatibility/Directory.Packages.props
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

- Moved this app from doc/apps to tools/ which seems like a better fit. - Added support to specify all SqlClient suite package versions. - Added a modern xUnit3 test suite.
  .github/instructions/testing.instructions.md
  src/Microsoft.Data.SqlClient.slnx
  tools/PackageCompatibility/Directory.Packages.props
  tools/PackageCompatibility/README.md
  tools/PackageCompatibility/global.json
  tools/PackageCompatibility/src/App.cs
  tools/PackageCompatibility/src/EntryPoint.cs
  tools/PackageCompatibility/src/GeneratePackageVersions.targets
  tools/PackageCompatibility/src/PackageCompatibility.csproj
  tools/PackageCompatibility/src/PackageVersions.Partial.cs
  tools/PackageCompatibility/src/SqlClientEventListener.cs
  tools/PackageCompatibility/test/AppTests.cs
  tools/PackageCompatibility/test/BuildVersionOverrideTests.cs
  tools/PackageCompatibility/test/ConsoleCollection.cs
  tools/PackageCompatibility/test/EntryPointTests.cs
  tools/PackageCompatibility/test/PackageCompatibility.Test.csproj
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Added explanation of why this tool is useful, and how it differs from running manual tests.
  tools/PackageCompatibility/README.md
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Address Copilot review comments on PR 4242
  .github/instructions/testing.instructions.md
  tools/PackageCompatibility/Directory.Packages.props
  tools/PackageCompatibility/README.md
  tools/PackageCompatibility/test/BuildVersionOverrideTests.cs
  tools/PackageCompatibility/test/EntryPointTests.cs
  tools/PackageCompatibility/test/IsExternalInit.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Fix newline preservation in work item description capture
  .github/instructions/ado-work-items-markdown.instructions.md
Due: none

Address review feedback: temp cleanup, packages/ exclusion, heading levels, console fixture
  .github/instructions/testing.instructions.md
  tools/PackageCompatibility/test/BuildVersionOverrideTests.cs
  tools/PackageCompatibility/test/ConsoleCollection.cs
  tools/PackageCompatibility/test/EntryPointTests.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Cleanup: git config, implicit usings, test common fixes, and build props (#4301)
  .gitattributes
  .gitignore
  src/Directory.Build.props
  src/Microsoft.Data.SqlClient/tests/Common/DisposableArray.cs
  src/Microsoft.Data.SqlClient/tests/Common/Fixtures/AzureKeyVaultKeyFixtureBase.cs
  src/Microsoft.Data.SqlClient/tests/Common/Fixtures/CertificateFixtureBase.cs
  src/Microsoft.Data.SqlClient/tests/Common/Fixtures/ColumnEncryptionCertificateFixture.cs
  src/Microsoft.Data.SqlClient/tests/Common/Fixtures/ColumnMasterKeyCertificateFixture.cs
  src/Microsoft.Data.SqlClient/tests/Common/Fixtures/CspCertificateFixture.cs
  src/Microsoft.Data.SqlClient/tests/Common/Fixtures/DatabaseObjects/DatabaseObject.cs
  src/Microsoft.Data.SqlClient/tests/Common/LocalAppContextSwitchesHelper.cs
  src/Microsoft.Data.SqlClient/tests/Common/Microsoft.Data.SqlClient.TestCommon.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.ruleset
  tools/props/AssemblyInfo.props
  tools/props/AssemblyRef.props
  tools/targets/RepositoryInfo.targets
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Regenerate issue-triage.lock.yml (gh aw compile v0.72.1)
  .github/workflows/issue-triage.lock.yml
Due: none

Enable InternalsVisibleTo for UnitTests in Package mode (#4300)
  build.proj
  eng/pipelines/common/templates/steps/run-all-tests-step.yml
  src/Microsoft.Data.SqlClient/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/tests/Common/Microsoft.Data.SqlClient.TestCommon.csproj
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft.Data.SqlClient.UnitTests.csproj
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities/Microsoft.Data.SqlClient.TestUtilities.csproj
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS.EndPoint/TDS.EndPoint.csproj
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS.Servers/TDS.Servers.csproj
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS/TDS.csproj
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Added new sqlclient-package CI pipeline.
  eng/pipelines/ci/package/sqlclient-package.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Address Copilot review: declare signingKeyArg conditionally, remove dead code
  eng/pipelines/ci/package/sqlclient-package.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Exclude the new CI pipeline files from PR checks.
  eng/pipelines/sqlclient-pr-package-ref-pipeline.yml
  eng/pipelines/sqlclient-pr-project-ref-pipeline.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Path conditions:
  eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml: any of: .azuredevops, .config, doc, eng/pipelines, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-signing-pipeline.yml: any of: .azuredevops, .config, doc, eng/pipelines, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/sqlclient-pr-package-ref-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/sqlclient-pr-project-ref-pipeline.yml: any of: .azuredevops, .config, src, eng, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
