Repository dotnet/SqlClient: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml:
  name: $(DayOfYear)$(Rev:rr)
  schedules:
  - cron: 0 4 * * Sat
    displayName: Weekly Saturday 4:00 AM (UTC - 7) Build
    branches:
      include:
      - internal/release/6.1
    always: true
  extends:
    template: dotnet-sqlclient-ci-core.yml@self
    parameters:
      debug: ${{ parameters.debug }}
  ...

eng/pipelines/dotnet-sqlclient-signing-pipeline.yml:
  name: $(Year:YY)$(DayOfYear)$(Rev:.r)
  schedules:
  - cron: 30 4 * * Mon
    displayName: Weekly Sunday 9:30 PM (UTC - 7) Build
    branches:
      include:
      - internal/main
    always: true
  - cron: 30 3 * * Mon-Fri
    displayName: Mon-Fri 8:30 PM (UTC - 7) Build
    branches:
      include:
      - internal/main
  ...

eng/pipelines/sqlclient-pr-project-ref-pipeline.yml:
  name: $(DayOfYear)$(Rev:rr)
  extends:
    template: dotnet-sqlclient-ci-core.yml@self
    parameters:
      buildConfiguration: ${{ parameters.buildConfiguration }}
      buildPlatforms: ${{ parameters.buildPlatforms }}
      buildType: Project
  ...

Correct private reflection in TestRsaCryptoWithNativeBaseline
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/CoreCryptoTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestFixtures/Setup/CertificateUtility.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Clean up resource strings, unused SQL method, TODO item
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/AlwaysEncrypted/ColumnMasterKeyMetadata.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/AlwaysEncrypted/EncryptedColumnEncryptionKeyParameters.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlUtil.cs
  src/Microsoft.Data.SqlClient/src/Resources/Strings.Designer.cs
  src/Microsoft.Data.SqlClient/src/Resources/Strings.resx
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

User Story 38351: Add Debug CI runs
  eng/pipelines/common/templates/jobs/build-signed-package-job.yml
  eng/pipelines/common/templates/jobs/ci-build-nugets-job.yml
  eng/pipelines/common/templates/jobs/ci-run-tests-job.yml
  eng/pipelines/common/templates/jobs/run-tests-package-reference-job.yml
  eng/pipelines/common/templates/stages/ci-run-tests-stage.yml
  eng/pipelines/common/templates/steps/build-all-configurations-signed-dlls-step.yml
  eng/pipelines/common/templates/steps/build-all-tests-step.yml
  eng/pipelines/common/templates/steps/build-and-run-tests-netcore-step.yml
  eng/pipelines/common/templates/steps/build-and-run-tests-netfx-step.yml
  eng/pipelines/common/templates/steps/ci-project-build-step.yml
  eng/pipelines/common/templates/steps/configure-sql-server-macos-step.yml
  eng/pipelines/common/templates/steps/copy-dlls-for-test-step.yml
  eng/pipelines/common/templates/steps/generate-nuget-package-step.yml
  eng/pipelines/common/templates/steps/publish-symbols-step.yml
  eng/pipelines/common/templates/steps/publish-test-results-step.yml
  eng/pipelines/common/templates/steps/run-all-tests-step.yml
  eng/pipelines/dotnet-sqlclient-ci-core.yml
  eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml
  eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml
  eng/pipelines/dotnet-sqlclient-ci-release-pipeline.yml
  eng/pipelines/dotnet-sqlclient-signing-pipeline.yml
  eng/pipelines/jobs/build-akv-official-job.yml
  eng/pipelines/libraries/common-variables.yml
  eng/pipelines/stages/stress-tests-ci-stage.yml
  eng/pipelines/steps/compound-build-akv-step.yml
  eng/pipelines/steps/compound-nuget-pack-step.yml
  eng/pipelines/steps/roslyn-analyzers-akv-step.yml
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/ProviderBase/DbConnectionInternal.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/AlwaysEncryptedHelperClasses.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/AzureAttestationBasedEnclaveProvider.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/VirtualSecureModeEnclaveProvider.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/ApiShould.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectionPoolTest/ConnectionPoolTest.Debug.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/DataStreamTest/DataStreamTest.cs
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities/Config.cs
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities/xunit.runner.json
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Updated CI pipelines to be triggered by pushes to main and a schedule only.
  eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml
  eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml
  eng/pipelines/dotnet-sqlclient-ci-release-pipeline.yml
  eng/pipelines/sqlclient-pr-package-ref-pipeline.yml
  eng/pipelines/sqlclient-pr-project-ref-pipeline.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add PR Debug pipelines (#3659)
  eng/pipelines/sqlclient-pr-package-ref-pipeline.yml
  eng/pipelines/sqlclient-pr-project-ref-pipeline.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

User Story 38351: Add Debug CI runs
  eng/pipelines/common/templates/jobs/build-signed-package-job.yml
  eng/pipelines/common/templates/jobs/ci-build-nugets-job.yml
  eng/pipelines/common/templates/jobs/ci-run-tests-job.yml
  eng/pipelines/common/templates/jobs/run-tests-package-reference-job.yml
  eng/pipelines/common/templates/stages/ci-run-tests-stage.yml
  eng/pipelines/common/templates/steps/build-all-configurations-signed-dlls-step.yml
  eng/pipelines/common/templates/steps/build-all-tests-step.yml
  eng/pipelines/common/templates/steps/build-and-run-tests-netcore-step.yml
  eng/pipelines/common/templates/steps/build-and-run-tests-netfx-step.yml
  eng/pipelines/common/templates/steps/ci-project-build-step.yml
  eng/pipelines/common/templates/steps/configure-sql-server-macos-step.yml
  eng/pipelines/common/templates/steps/copy-dlls-for-test-step.yml
  eng/pipelines/common/templates/steps/generate-nuget-package-step.yml
  eng/pipelines/common/templates/steps/publish-symbols-step.yml
  eng/pipelines/common/templates/steps/publish-test-results-step.yml
  eng/pipelines/common/templates/steps/run-all-tests-step.yml
  eng/pipelines/dotnet-sqlclient-ci-core.yml
  eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml
  eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml
  eng/pipelines/dotnet-sqlclient-signing-pipeline.yml
  eng/pipelines/jobs/build-akv-official-job.yml
  eng/pipelines/libraries/common-variables.yml
  eng/pipelines/sqlclient-pr-package-ref-pipeline.yml
  eng/pipelines/sqlclient-pr-project-ref-pipeline.yml
  eng/pipelines/stages/stress-tests-ci-stage.yml
  eng/pipelines/steps/compound-build-akv-step.yml
  eng/pipelines/steps/compound-nuget-pack-step.yml
  eng/pipelines/steps/roslyn-analyzers-akv-step.yml
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/ProviderBase/DbConnectionInternal.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/AlwaysEncryptedHelperClasses.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/AzureAttestationBasedEnclaveProvider.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/VirtualSecureModeEnclaveProvider.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/ApiShould.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectionPoolTest/ConnectionPoolTest.Debug.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/DataStreamTest/DataStreamTest.cs
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities/Config.cs
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities/xunit.runner.json
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

- Added pipeline URLs to the new PR pipeline YAML files. - Commented out failing test chunk.
  eng/pipelines/sqlclient-pr-package-ref-pipeline.yml
  eng/pipelines/sqlclient-pr-project-ref-pipeline.yml
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/ApiShould.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

- Added missing buildConfiguration parameter values.
  eng/pipelines/common/templates/jobs/build-signed-package-job.yml
  eng/pipelines/common/templates/jobs/run-tests-package-reference-job.yml
  eng/pipelines/common/templates/steps/ci-prebuild-step.yml
  eng/pipelines/dotnet-sqlclient-ci-core.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Fix connection pool concurrency issue (#3632) (#3653)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/WaitHandleDbConnectionPool.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectionPoolTest/ConnectionPoolStressTest.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

- Commented out another failing Debug.Assert().
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.Reader.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Cleanup disposable semaphore holder
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/WaitHandleDbConnectionPool.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Apply suggestion from @Copilot
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/WaitHandleDbConnectionPool.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

First response to code review
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlColumnEncryptionCertificateStoreProvider.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/CoreCryptoTests.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Revert semaphore holder
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/ProviderBase/DbConnectionPool.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Cleanup semaphore holder
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/WaitHandleDbConnectionPool.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

[6.1] Enable scheduled builds (#3657)
  eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml
  eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml
  eng/pipelines/dotnet-sqlclient-signing-pipeline.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

[6.0] Enable scheduled builds (#3656)
  eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml
  eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml
  eng/pipelines/dotnet-sqlclient-signing-pipeline.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Reduce connection timeouts.
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestFixtures/Setup/CertificateUtility.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestTrustedMasterKeyPaths.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Clean up connection string building.
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestTrustedMasterKeyPaths.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Consolidate compile items in proj file.
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.csproj
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Alphabetical order.
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.csproj
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Switch to collection fixture to reduce setup and teardown work.
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/AlwaysEncryptedCollectionDefinition.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/ApiShould.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/BulkCopyAE.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/BulkCopyAEErrorMessage.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/CoreCryptoTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/DateOnlyReadTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/End2EndSmokeTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/SqlBulkCopyTruncation.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/SqlNullValues.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestTrustedMasterKeyPaths.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.csproj
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

[6.0] Fix SetProvider to return immediately if user-defined provider found (#3652)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlAuthenticationProviderManager.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/AADAuthenticationTests.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/DataCommon/DummySqlAuthenticationProvider.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/Microsoft.Data.SqlClient.Tests.csproj
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlAuthenticationProviderTest.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/app.config
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Cleanup
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/AKVTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/AlwaysEncryptedCollectionDefinition.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.csproj
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Code improvements
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/ProviderBase/DbConnectionPool.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectionPoolTest/ConnectionPoolStressTest.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Minor change (fix cer)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/WaitHandleDbConnectionPool.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

[Release 6.1.2] Release notes
  CHANGELOG.md
  release-notes/6.1/6.1.2.md
  release-notes/6.1/README.md
Due: none

Add collection for akv tests.
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/AlwaysEncryptedCollectionDefinition.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/ColumnDecryptErrorTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/ExceptionTestAKVStore.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestFixtures/AlwaysEncryptedAKVCollection.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestFixtures/AlwaysEncryptedCertStoreCollection.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.csproj
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix server side throw issue
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlConnectionBasicTests.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

[6.0] Fix connection pool concurrency issue (#3632) (#3654)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/ProviderBase/DbConnectionPool.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectionPoolTest/ConnectionPoolStressTest.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

[6.1] Cleanup semaphore holder (#3664)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/WaitHandleDbConnectionPool.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

[Release 6.0.3] Release notes
  CHANGELOG.md
  release-notes/6.0/6.0.2.md
  release-notes/6.0/6.0.3.md
  release-notes/6.0/README.md
Due: none

Update readme
  release-notes/6.1/README.md
Due: none

Fix collection names.
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/ApiShould.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/BulkCopyAE.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/BulkCopyAEErrorMessage.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/CoreCryptoTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/DateOnlyReadTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/End2EndSmokeTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/SqlBulkCopyTruncation.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/SqlNullValues.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestTrustedMasterKeyPaths.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

CTAIP changes
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft.Data.SqlClient.sln
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlCertificateCallback.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlClientOriginalNetworkAddressInfo.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlInternalConnectionTds.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft.Data.SqlClient.sln
  src/Microsoft.Data.SqlClient/src/Interop/Windows/Sni/AuthProviderInfo.cs
  src/Microsoft.Data.SqlClient/src/Interop/Windows/Sni/Provider.cs
  src/Microsoft.Data.SqlClient/src/Interop/Windows/Sni/QueryType.cs
  src/Microsoft.Data.SqlClient/src/Interop/Windows/Sni/SniNativeMethods.netcore.cs
  src/Microsoft.Data.SqlClient/src/Interop/Windows/Sni/SniNativeWrapper.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/SqlConnectionPoolKey.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnection.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnectionFactory.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParserHelperClasses.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Deprecate AAD Password authentication method.
  src/Microsoft.Data.SqlClient/netcore/ref/Microsoft.Data.SqlClient.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlInternalConnectionTds.cs
  src/Microsoft.Data.SqlClient/netfx/ref/Microsoft.Data.SqlClient.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlInternalConnectionTds.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ActiveDirectoryAuthenticationProvider.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlAuthenticationProviderManager.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnection.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsEnums.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlAuthenticationProviderTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectivityTests/AADConnectionTest.cs
  src/Microsoft.Data.SqlClient/tests/StressTests/SqlClient.Stress.Tests/SqlClientStressFactory.cs
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Tests | Remove hardcoded credentials from ManualTests (#3204)
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/AKVTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/AKVUnitTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/ConversionTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/CspProviderExt.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/EnclaveAzureDatabaseTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/ExceptionTestAKVStore.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestFixtures/AzureKeyVaultKeyFixture.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestFixtures/SQLSetupStrategy.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestFixtures/SQLSetupStrategyAzureKeyVault.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestFixtures/SQLSetupStrategyCertStoreProvider.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestFixtures/SQLSetupStrategyCspExt.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestFixtures/SQLSetupStrategyCspProvider.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestFixtures/Setup/CertificateUtility.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestFixtures/Setup/CertificateUtilityWin.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/TestTrustedMasterKeyPaths.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/DataCommon/SqlClientCustomTokenCredential.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.csproj
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities/Fixtures/AzureKeyVaultKeyFixtureBase.cs
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities/Fixtures/CertificateFixtureBase.cs
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities/Fixtures/ColumnMasterKeyCertificateFixture.cs
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities/Fixtures/CspCertificateFixture.cs
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities/Microsoft.Data.SqlClient.TestUtilities.csproj
Due: eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Remove parameter not defined
  eng/pipelines/dotnet-sqlclient-signing-pipeline.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Remove parameter not defined (#3670)
  eng/pipelines/dotnet-sqlclient-signing-pipeline.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Path conditions:
  eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml: any of: src\Microsoft.Data.SqlClient\netcore\ref, src\Microsoft.Data.SqlClient\netfx\ref, src\Microsoft.Data.SqlClient\ref, eng, tools, .config, Nuget.config
  eng/pipelines/dotnet-sqlclient-signing-pipeline.yml: any of: src, eng, tools, .config, build.proj, Nuget.config, *.cmd, *.sh
  eng/pipelines/sqlclient-pr-project-ref-pipeline.yml: any of: .azuredevops, .config, src, eng, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
