Repository dotnet/SqlClient: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Path conditions:
  eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml: any of: .azuredevops, .config, doc, eng/pipelines, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-signing-pipeline.yml: any of: .azuredevops, .config, doc, eng/pipelines, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/sqlclient-pr-package-ref-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/sqlclient-pr-project-ref-pipeline.yml: any of: .azuredevops, .config, src, eng, tools, azurepipelines-coverage.yml, build.proj, NuGet.config

Tests | Add Flaky test details to ConnectionFailoverTests (#4341)
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionFailoverTests.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Fix macOS CI: trust microsoft/mssql-release tap for Homebrew 5.2+ (#4363)
  eng/pipelines/common/templates/steps/configure-sql-server-macos-step.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Switch SDK rollForward from disable to patch for automatic servicing updates (#4364)
  global.json
  tools/PackageCompatibility/global.json
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Update tools to latest versions (#4345)
  dotnet-tools.json
Due: none

Fix stress pipeline pool name detection and config file mismatch (#4368)
  eng/pipelines/stress/stress-tests-job.yml
  eng/pipelines/stress/stress-tests-pipeline.yml
  eng/pipelines/stress/stress-tests-stage.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Escape prId variable in url. (#4350)
  eng/pipelines/scripts/Sync-GitHubToAdo.ps1
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add `/ready` slash command and author notification for "Author attention needed" label (#4353)
  .github/workflows/notify-author-attention.yml
  .github/workflows/remove-author-attention-label.yml
Due: none

Fix SqlCommand.Cancell null ref exception (#4372)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlCommandTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add TDS token data length bounds checks (#4340)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/Connection/SqlConnectionInternal.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlUtil.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsEnums.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionEnhancedRoutingTests.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionFailoverTests.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionReadOnlyRoutingTests.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionRoutingTests.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionRoutingTestsAzure.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/FeatureExtAckBoundsTests.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/FeatureExtensionNegotiationTests.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/TdsTokenBoundsTests.cs
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS.Servers/GenericTdsServer.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

PR Pipeline - Azure + AE (#4338)
  eng/pipelines/pr/jobs/test-buildproj-job.yml
  eng/pipelines/pr/jobs/test-sqlclientmanual-job.yml
  eng/pipelines/pr/pr-pipeline.yml
  eng/pipelines/pr/stages/pack-stage.yml
  eng/pipelines/pr/stages/test-stages.yml
  eng/pipelines/pr/steps/build-buildproj-step.yml
  eng/pipelines/pr/steps/install-dotnet.yml
  eng/pipelines/pr/steps/pack-buildproj-step.yml
  eng/pipelines/pr/steps/test-buildproj-step.yml
  eng/pipelines/pr/variables/pr-variables.yml
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/AKVTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/AlwaysEncrypted/ApiShould.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/BulkCopy/CopyAllFromReaderConnectionCloseOnEventAsync.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/MARSSessionPoolingTest/MarsSessionPoolingTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ParameterTest/SqlVariantParameterTests.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Auto-triage: label-gated follow-up, partial-progress acknowledgement, and /triage on-demand command (#4324)
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
Due: none

Public Roadmap (#4331)
  CONTRIBUTING.md
  README.md
  contributing-workflow.md
  roadmap.md
Due: none

Add configurable idle connection timeout (ADO #39970) (#4295)
  doc/snippets/Microsoft.Data.SqlClient/SqlConnectionStringBuilder.xml
  src/Microsoft.Data.SqlClient/ref/Microsoft.Data.SqlClient.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/Common/ConnectionString/DbConnectionStringDefaults.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/Common/ConnectionString/DbConnectionStringKeywords.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/ProviderBase/DbConnectionInternal.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/ChannelDbConnectionPool.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/DbConnectionPoolOptions.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/WaitHandleDbConnectionPool.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/LocalAppContextSwitches.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnectionFactory.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnectionOptions.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnectionStringBuilder.cs
  src/Microsoft.Data.SqlClient/src/Resources/Strings.Designer.cs
  src/Microsoft.Data.SqlClient/src/Resources/Strings.resx
  src/Microsoft.Data.SqlClient/tests/Common/LocalAppContextSwitchesHelper.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlConnectionStringBuilderTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/ChannelDbConnectionPoolPruningTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/ChannelDbConnectionPoolTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/WaitHandleDbConnectionPoolBudgetTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/WaitHandleDbConnectionPoolIdleTimeoutTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/WaitHandleDbConnectionPoolTransactionTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/LocalAppContextSwitchesTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

PR Pipeline - Code Coverage and Triggers (#4360)
  eng/pipelines/pr/jobs/test-buildproj-job.yml
  eng/pipelines/pr/jobs/test-sqlclientmanual-job.yml
  eng/pipelines/pr/pr-pipeline.yml
  eng/pipelines/pr/sqlclient-pr-pipeline.yml
  eng/pipelines/pr/stages/collect-coverage-stage.yml
  eng/pipelines/pr/stages/test-stages.yml
  eng/pipelines/pr/steps/publish-test-results-step.yml
  eng/pipelines/pr/variables/pr-variables.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

[Scheduled Run] Localized resource files from OneLocBuild (#4398)
  src/Microsoft.Data.SqlClient/src/Resources/Strings.cs.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.de.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.es.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.fr.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.it.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.ja.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.ko.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.pl.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.pt-BR.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.ru.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.tr.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.zh-Hans.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.zh-Hant.resx
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

SqlBatchCommand support CommandBehavior (#4125)
  doc/snippets/Microsoft.Data.SqlClient/SqlBatch.xml
  doc/snippets/Microsoft.Data.SqlClient/SqlBatchCommand.xml
  src/Microsoft.Data.SqlClient/ref/Microsoft.Data.SqlClient.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlBatch.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.Batch.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.Reader.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/Batch/BatchTests.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/SqlBatchTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Upgrade gh aw workflows (#4406)
  .github/agents/agentic-workflows.md
  .github/aw/actions-lock.json
  .github/skills/agentic-workflows/SKILL.md
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/issue-triage.lock.yml
  .github/workflows/verify-aw-lock.yml
Due: none

Add release notes for 7.0.2 (#4403)
  CHANGELOG.md
  release-notes/7.0/7.0.2.md
  release-notes/7.0/README.md
  release-notes/Extensions/Abstractions/7.0/7.0.2.md
  release-notes/Extensions/Abstractions/7.0/README.md
  release-notes/Extensions/Azure/7.0/7.0.2.md
  release-notes/Extensions/Azure/7.0/README.md
  release-notes/Internal/Logging/7.0/7.0.2.md
  release-notes/Internal/Logging/7.0/README.md
  release-notes/README.md
  release-notes/add-ons/AzureKeyVaultProvider/7.0/7.0.2.md
  release-notes/add-ons/AzureKeyVaultProvider/7.0/README.md
Due: none

Enable WAM Broker support for Entra ID Auth modes (#4288)
  Directory.Packages.props
  doc/apps/AzureSqlConnector/AzureSqlConnector.csproj
  doc/apps/AzureSqlConnector/IdentityQuery.cs
  doc/apps/AzureSqlConnector/MainForm.Designer.cs
  doc/apps/AzureSqlConnector/MainForm.cs
  doc/apps/AzureSqlConnector/MainFormWorker.Designer.cs
  doc/apps/AzureSqlConnector/MainFormWorker.cs
  doc/apps/AzureSqlConnector/ModeSelectorForm.cs
  doc/apps/AzureSqlConnector/Program.cs
  doc/apps/AzureSqlConnector/README.md
  doc/snippets/Microsoft.Data.SqlClient/ActiveDirectoryAuthenticationProvider.xml
  src/Microsoft.Data.SqlClient.Extensions/Abstractions/src/SqlAuthenticationProvider.Internal.cs
  src/Microsoft.Data.SqlClient.Extensions/Azure/doc/ActiveDirectoryAuthenticationProvider.xml
  src/Microsoft.Data.SqlClient.Extensions/Azure/doc/ActiveDirectoryAuthenticationProviderOptions.xml
  src/Microsoft.Data.SqlClient.Extensions/Azure/src/ActiveDirectoryAuthenticationProvider.Windows.cs
  src/Microsoft.Data.SqlClient.Extensions/Azure/src/ActiveDirectoryAuthenticationProvider.cs
  src/Microsoft.Data.SqlClient.Extensions/Azure/src/ActiveDirectoryAuthenticationProviderOptions.cs
  src/Microsoft.Data.SqlClient.Extensions/Azure/src/Azure.csproj
  src/Microsoft.Data.SqlClient.Extensions/Azure/src/Interop/Interop.GetAncestor.cs
  src/Microsoft.Data.SqlClient.Extensions/Azure/src/Interop/Interop.GetConsoleWindow.cs
  src/Microsoft.Data.SqlClient.Extensions/Azure/test/AADAuthenticationTests.cs
  src/Microsoft.Data.SqlClient.Extensions/Azure/test/AADConnectionTest.cs
  src/Microsoft.Data.SqlClient.Extensions/Azure/test/Config.cs
  src/Microsoft.Data.SqlClient.Extensions/Azure/test/DefaultAuthProviderTests.cs
  src/Microsoft.Data.SqlClient.Extensions/Azure/test/SqlAuthenticationProviderCollection.cs
  src/Microsoft.Data.SqlClient.Extensions/Azure/test/WamBrokerTests.cs
  src/Microsoft.Data.SqlClient.slnx
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/Connection/SqlConnectionInternal.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlAuthenticationProviderManager.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlUtil.cs
  src/Microsoft.Data.SqlClient/src/Resources/Strings.Designer.cs
  src/Microsoft.Data.SqlClient/src/Resources/Strings.resx
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/SqlAuthenticationProviderManagerTests.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Async Generic Helpers (#4334)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/Connection/SqlConnectionInternal.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlBulkCopy.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.Encryption.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.NonQuery.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.Reader.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.Xml.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnection.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlUtil.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParserStateObject.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/Utilities/AsyncHelper.cs
  src/Microsoft.Data.SqlClient/tests/Directory.Packages.props
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlHelperTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft.Data.SqlClient.UnitTests.csproj
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/Utilities/AsyncHelperTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Utilities/MockExtensions.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add release notes for 6.1.6 (#4404)
  CHANGELOG.md
  release-notes/6.1/6.1.6.md
  release-notes/6.1/README.md
Due: none

missing cleanup of CancellationTokenSource (#4009)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ManagedSni/SsrpClient.netcore.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.NonQuery.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCommand.Reader.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnection.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlDataReader.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlSequentialStream.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlSequentialTextReader.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/DataStreamTest/CancellationTokenSourceDisposalTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Fix | Reenable SqlBulkCopy in least-privilege environments (#4306)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlBulkCopy.cs
  src/Microsoft.Data.SqlClient/tests/Common/Fixtures/DatabaseObjects/DatabaseObject.cs
  src/Microsoft.Data.SqlClient/tests/Common/Fixtures/DatabaseObjects/DatabaseUser.cs
  src/Microsoft.Data.SqlClient/tests/Common/Fixtures/DatabaseObjects/ServerLogin.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/BulkCopy/CopyAllFromReader.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/BulkCopy/UnprivilegedLogin.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/Extensions/CodeAnalysis.netfx.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/TracingTests/XEventsTracingTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

[v7.1.0-preview2] Release Notes and vBump (#4422)
  CHANGELOG.md
  eng/pipelines/libraries/ci-build-variables.yml
  eng/pipelines/onebranch/variables/package-variables.yml
  release-notes/7.1/7.1.0-preview2.md
  release-notes/7.1/README.md
  release-notes/Extensions/Abstractions/7.1/7.1.0-preview2.md
  release-notes/Extensions/Abstractions/7.1/README.md
  release-notes/Extensions/Azure/7.1/7.1.0-preview2.md
  release-notes/Extensions/Azure/7.1/README.md
  release-notes/Internal/Logging/7.1/7.1.0-preview2.md
  release-notes/Internal/Logging/7.1/README.md
  release-notes/README.md
  release-notes/add-ons/AzureKeyVaultProvider/7.1/7.1.0-preview2.md
  release-notes/add-ons/AzureKeyVaultProvider/7.1/README.md
  src/Microsoft.Data.SqlClient.AlwaysEncrypted.AzureKeyVaultProvider/src/Versions.props
  src/Microsoft.Data.SqlClient.Extensions/Abstractions/src/Versions.props
  src/Microsoft.Data.SqlClient.Extensions/Azure/src/Versions.props
  src/Microsoft.Data.SqlClient.Internal/Logging/src/Versions.props
  src/Microsoft.Data.SqlClient/Versions.props
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

[Scheduled Run] Localized resource files from OneLocBuild (#4430)
  src/Microsoft.Data.SqlClient/src/Resources/Strings.cs.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.de.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.es.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.fr.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.it.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.ja.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.ko.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.pl.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.pt-BR.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.ru.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.tr.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.zh-Hans.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.zh-Hant.resx
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Sort modifiers (#4412)
  src/Microsoft.Data.SqlClient/src/Interop/Windows/Handles/SafeLibraryHandle.netcore.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/Common/AdapterUtil.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/Common/ConnectionString/IpAddressPreferenceUtilities.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/Common/NameValuePair.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/ProviderBase/DbReferenceCollection.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/DbConnectionPoolAuthenticationContext.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/DbConnectionPoolAuthenticationContextKey.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/DbConnectionPoolGroup.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/Reliability/SqlConfigurableRetryFactory.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/Server/SmiMetaData.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlCachedBuffer.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnection.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnectionOptions.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlDataAdapter.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlDataReader.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlException.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlInfoMessageEvent.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlInternalTransaction.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlQueryMetadataCache.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlReferenceCollection.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlRowUpdatedEvent.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlRowUpdatingEvent.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlSequentialTextReader.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlStream.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlSymmetricKeyCache.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlUtil.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParserSafeHandles.windows.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParserStateObject.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParserStaticMethods.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

PR Pipeline | Fix Test Result Publishing (#4428)
  eng/pipelines/pr/steps/publish-test-results-step.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Refactor ForceNewConnection (#4415)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/ProviderBase/DbConnectionClosed.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/ProviderBase/DbConnectionInternal.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/Connection/SqlConnectionInternal.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/WaitHandleDbConnectionPool.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnection.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnectionFactory.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/SqlConnectionConcurrentOpenTests.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/SqlConnectionStateTransitionTests.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Fix SPN using instance name instead of resolved port for Protocol.None and Protocol.Admin (#4180)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ManagedSni/SniProxy.netcore.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/InstanceNameTest/InstanceNameTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/KerberosTests/KerberosTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/RetryLogic/SqlCommandReliabilityTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/SqlDSEnumeratorTest/SqlDataSourceEnumeratorTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/ManagedSni/SniProxyGetSqlServerSPNsTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/ManagedSni/SniProxyGetSqlServerSPNsWindowsTests.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Pin Microsoft.SqlServer.Server package version to 1.0.0 (#4434)
  eng/pipelines/onebranch/variables/package-variables.yml
  src/Microsoft.SqlServer.Server/Versions.props
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add BuildAll target (#4290)
  .github/workflows/codeql.yml
  BUILDGUIDE.md
  build.proj
  src/Microsoft.Data.SqlClient.Extensions/Azure/test/Azure.Test.csproj
  src/Microsoft.Data.SqlClient/tests/Common/Microsoft.Data.SqlClient.TestCommon.csproj
  src/Microsoft.Data.SqlClient/tests/CustomConfigurableRetryLogic/CustomRetryLogicProvider.csproj
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/Microsoft.Data.SqlClient.FunctionalTests.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTests.csproj
  src/Microsoft.Data.SqlClient/tests/StressTests/Directory.Build.props
  src/Microsoft.Data.SqlClient/tests/TestUdts/Address/Address.csproj
  src/Microsoft.Data.SqlClient/tests/TestUdts/Circle/Circle.csproj
  src/Microsoft.Data.SqlClient/tests/TestUdts/Shapes/Shapes.csproj
  src/Microsoft.Data.SqlClient/tests/TestUdts/Utf8String/Utf8String.csproj
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft.Data.SqlClient.UnitTests.csproj
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS.EndPoint/TDS.EndPoint.csproj
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Allow writing DateOnly instance as a Variant parameter (#4294)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ParameterTest/DateTimeVariantTests.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Tests | Address additional flaky tests (#4305)
  src/Microsoft.Data.SqlClient/tests/Common/Fixtures/AzureKeyVaultKeyFixtureBase.cs
  src/Microsoft.Data.SqlClient/tests/Common/LocalAppContextSwitchesHelper.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/Batch/BatchTests.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/SqlCommand/SqlCommandCancelTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/LocalAppContextSwitchesTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Fix paths. (#4436)
  eng/pipelines/onebranch/stages/release-stages.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Improve release-notes prompt for version-aligned companion packages (#4409)
  .github/prompts/release-notes.prompt.md
  release-notes/7.0/7.0.2.md
Due: none

Harden SqlConnection state transitions with CAS guards (#4267)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/Common/AdapterUtil.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnection.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/SqlConnectionConcurrentOpenTests.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/SqlConnectionStateTransitionTests.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Docs | Fix server certificate docs (#4408)
  doc/snippets/Microsoft.Data.SqlClient/SqlConnectionStringBuilder.xml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml

Implement pool shutdown for ChannelDbConnectionPool and harden WaitHandleDbConnectionPool shutdown (#4302)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/ChannelDbConnectionPool.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/IdleConnectionChannel.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/WaitHandleDbConnectionPool.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/ChannelDbConnectionPoolShutdownTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/IdleConnectionChannelTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/WaitHandleDbConnectionPoolShutdownTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

remove sqlserver 7 and 2000 support (#4015)
  src/Microsoft.Data.SqlClient.Extensions/Azure/test/AADConnectionTest.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/Connection/SqlConnectionInternal.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnectionOptions.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlDataReader.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlInternalTransaction.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlParameter.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsEnums.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/BulkCopy/CopyAllFromReader.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/BulkCopy/UnprivilegedLogin.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionTests.cs
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS/TDSVersion.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Consolidate OS detection to OsConstants (#4255)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/Common/AdapterUtil.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/LocalAppContextSwitches.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/OsConstants.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlColumnEncryptionCertificateStoreProvider.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlColumnEncryptionCngProvider.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlColumnEncryptionCspProvider.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlUtil.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/TdsParserStaticMethods.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/UserAgent.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlTypes/SqlFileStream.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml
