Repository dotnet/SqlClient: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Path conditions:
  eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml: any of: .azuredevops, .config, doc, eng/pipelines, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-signing-pipeline.yml: any of: .azuredevops, .config, doc, eng/pipelines, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/sqlclient-pr-package-ref-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/sqlclient-pr-project-ref-pipeline.yml: any of: .azuredevops, .config, src, eng, tools, azurepipelines-coverage.yml, build.proj, NuGet.config

Fix | Preserve delegated transactions when resetting a pooled connection
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/Connection/SqlConnectionInternal.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Docs | Add root cause analysis note for #4001
  doc/design-notes/4001-delegated-transaction-reset.md
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml

Tests | Add regression tests for delegated transaction reset (#4001)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/Connection/SqlConnectionInternal.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/SqlConnectionInternalResetTransactionTests.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Docs | Correct and expand the RCA note for #4001
  doc/design-notes/4001-delegated-transaction-reset.md
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml

Validate PR milestone against the target branch
  .github/scripts/check-milestone-branch.sh
  .github/scripts/tests/README.md
  .github/scripts/tests/check-milestone-branch.bats
  .github/workflows/check-milestone.yml
Due: none

Use pull_request rather than pull_request_target
  .github/workflows/check-milestone.yml
Due: none

Address PR #4610 review feedback
  .github/scripts/recheck-milestones-for-release-branch.sh
  .github/scripts/tests/README.md
  .github/scripts/tests/check-milestone-branch.bats
  .github/scripts/tests/recheck-milestones-for-release-branch.bats
  .github/workflows/check-milestone.yml
Due: none

Keep TreatWarningsAsErrors=false in the Roslyn analysis pass
  eng/pipelines/onebranch/steps/roslyn-analyzers-buildproj-step.yml
  src/Directory.Build.props
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Split release-branch reconciliation into its own workflow
  .github/scripts/recheck-milestones-for-release-branch.sh
  .github/scripts/tests/README.md
  .github/workflows/check-milestone.yml
  .github/workflows/recheck-milestones.yml
Due: none

Select the re-run by PR association, not just head SHA
  .github/scripts/recheck-milestones-for-release-branch.sh
  .github/scripts/tests/README.md
  .github/scripts/tests/recheck-milestones-for-release-branch.bats
Due: none

Document the stale-replay limitation of the re-run approach
  .github/scripts/recheck-milestones-for-release-branch.sh
  .github/workflows/recheck-milestones.yml
Due: none

Regenerate SDL baseline from run 26240.2
  .config/guardian/.gdnbaselines
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Pass real build versioning into the Roslyn analysis build
  eng/pipelines/onebranch/jobs/build-buildproj-job.yml
  eng/pipelines/onebranch/steps/roslyn-analyzers-buildproj-step.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

[6.1] Fix flaky code coverage job: pin tool versions and harden thread-job handling
  eng/pipelines/common/templates/jobs/ci-code-coverage-job.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

[Scheduled Run] Localized resource files from OneLocBuild
  src/Microsoft.Data.SqlClient/src/Resources/Strings.cs.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.de.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.es.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.fr.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.it.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.ja.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.ko.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.pl.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.pt-BR.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.ru.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.tr.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.zh-Hans.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.zh-Hant.resx
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add idempotent localization PR script to stop duplicate PRs
  eng/pipelines/scripts/Open-LocalizationPr.ps1
  eng/pipelines/scripts/tests/Open-LocalizationPr.Tests.ps1
  eng/pipelines/scripts/tests/README.md
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add -DryRun switch to Open-LocalizationPr.ps1
  eng/pipelines/scripts/Open-LocalizationPr.ps1
  eng/pipelines/scripts/tests/Open-LocalizationPr.Tests.ps1
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

[Scheduled Run] Localized resource files from OneLocBuild (#4607)
  src/Microsoft.Data.SqlClient/src/Resources/Strings.cs.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.de.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.es.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.fr.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.it.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.ja.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.ko.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.pl.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.pt-BR.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.ru.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.tr.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.zh-Hans.resx
  src/Microsoft.Data.SqlClient/src/Resources/Strings.zh-Hant.resx
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Install sqlcmd on Linux agents before configuring SQL Server
  eng/pipelines/common/templates/steps/configure-sql-server-linux-step.yml
  eng/pipelines/common/templates/steps/install-sqlcmd-linux-step.yml
  eng/pipelines/pr/steps/configure-sqlserver-linux-step.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Clarify why the Linux enclave stage key is left unchanged
  eng/pipelines/dotnet-sqlclient-ci-core.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Potential fix for pull request finding
  eng/pipelines/common/templates/steps/install-sqlcmd-linux-step.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Move CI and PR pipelines to SQL Server 2025 agent images
  eng/pipelines/ci/managed-instance/sqlclient-ci-managed-instance-stage.yml
  eng/pipelines/ci/stress/sqlclient-ci-stress-stage.yml
  eng/pipelines/common/templates/steps/configure-sql-server-win-step.yml
  eng/pipelines/dotnet-sqlclient-ci-core.yml
  eng/pipelines/pr/sqlclient-pr-pipeline.yml
  eng/pipelines/pr/steps/configure-sqlserver-linux-step.yml
  eng/pipelines/pr/steps/configure-sqlserver-windows-step.yml
  eng/pipelines/stages/build-azure-package-ci-stage.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add .NET 10 test coverage to the CI-SqlClient pipeline
  eng/pipelines/dotnet-sqlclient-ci-core.yml
  eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml
  eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml
  eng/pipelines/sqlclient-pr-package-ref-pipeline.yml
  eng/pipelines/sqlclient-pr-project-ref-pipeline.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Pipelines | Restore SQL Server 2022 coverage in the CI test matrix (#4587)
  eng/pipelines/dotnet-sqlclient-ci-core.yml
  eng/pipelines/sqlclient-pr-package-ref-pipeline.yml
  eng/pipelines/sqlclient-pr-project-ref-pipeline.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Make coverage artifact names unique per attempt
  eng/pipelines/common/templates/jobs/ci-code-coverage-job.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Update scripts such that they build the project before updating the config file.
  eng/pipelines/perf/README.md
  eng/pipelines/perf/scripts/perf_to_kusto.py
  eng/pipelines/perf/scripts/run-perf-tests.ps1
  eng/pipelines/perf/scripts/run-perf-tests.sh
  eng/pipelines/perf/scripts/translate_results_to_kusto.sh
  eng/pipelines/perf/sqlclient-perf-pipeline.yml
  eng/pipelines/perf/sqlclient-perf-pr-pipeline.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

[6.1] Fix flaky code coverage job: pin tool versions and harden thread-job handling (#4611)
  eng/pipelines/common/templates/jobs/ci-code-coverage-job.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Address review feedback on net462, the pressure control and platform guards
  eng/pipelines/perf/scripts/run-perf-tests.ps1
  eng/pipelines/perf/scripts/run-perf-tests.sh
  eng/pipelines/perf/sqlclient-perf-experiment.yml
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/BenchmarkRunners/ConnectionPoolThreadPoolPressureRunner.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/ChannelDbConnectionPoolTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Shorten the saturated sync wait test summary
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/ChannelDbConnectionPoolTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Remove the worker cap in the saturated sync wait test
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/ChannelDbConnectionPoolTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Make code coverage artifact names unique per attempt (#4616)
  eng/pipelines/common/templates/jobs/ci-code-coverage-job.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Address review feedback on Open-LocalizationPr
  eng/pipelines/scripts/Open-LocalizationPr.ps1
  eng/pipelines/scripts/tests/Open-LocalizationPr.Tests.ps1
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Deprecate TransparentNetworkIPResolution (#4576)
  doc/snippets/Microsoft.Data.SqlClient/SqlConnection.xml
  doc/snippets/Microsoft.Data.SqlClient/SqlConnectionStringBuilder.xml
  src/Microsoft.Data.SqlClient/ref/Microsoft.Data.SqlClient.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlConnectionStringBuilder.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/SqlConnectionOptionsTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionFailoverTests.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionRoutingTests.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionTests.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/SNICloseDeadlockTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/SNICloseHandshakeCancellationTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/SNICloseRaceDeadlockTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Upgrade checkout actions to Node 24 (#4575)
  .github/workflows/auto-assign-pr.yml
  .github/workflows/verify-aw-lock.yml
Due: none

Fix malformed UNC pipe path for IPv6 literals in managed SNI (#4558)
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ManagedSni/SniProxy.netcore.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft/Data/SqlClient/ManagedSni/DataSourceNamedPipesTests.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Pipelines | Move CI and PR pipelines to SQL Server 2025 agent images (#4513)
  eng/pipelines/ci/managed-instance/sqlclient-ci-managed-instance-stage.yml
  eng/pipelines/ci/stress/sqlclient-ci-stress-stage.yml
  eng/pipelines/common/templates/steps/configure-sql-server-linux-step.yml
  eng/pipelines/common/templates/steps/configure-sql-server-win-step.yml
  eng/pipelines/common/templates/steps/install-sqlcmd-linux-step.yml
  eng/pipelines/dotnet-sqlclient-ci-core.yml
  eng/pipelines/pr/sqlclient-pr-pipeline.yml
  eng/pipelines/pr/steps/configure-sqlserver-linux-step.yml
  eng/pipelines/pr/steps/configure-sqlserver-windows-step.yml
  eng/pipelines/stages/build-azure-package-ci-stage.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml
