Repository dotnet/SqlClient: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml:
  name: $(DayOfYear)$(Rev:rr)
  schedules:
  - cron: 0 3 * * Mon-Fri
    displayName: Weekday Run (Release Config)
    branches:
      include:
      - main
    always: true
  - cron: 0 7 * * Thu
    displayName: Thursday Run (Release Config)
    branches:
      include:
      - internal/main
    always: true
  extends:
  ...

eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml:
  name: $(DayOfYear)$(Rev:rr)
  schedules:
  - cron: 0 6 * * Sun
    displayName: Sunday Run
    branches:
      include:
      - release/6.0
    always: true
  - cron: 0 7 * * Sun
    displayName: Sunday Run
    branches:
      include:
      - internal/release/6.0
    always: true
  extends:
  ...

eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml:
  name: $(Year:YY)$(DayOfYear)$(Rev:.r)
  schedules:
  - cron: 30 4 * * Mon
    displayName: Weekly Sunday 9:30 PM (UTC - 7) Build
    branches:
      include:
      - internal/main
    always: true
  - cron: 30 3 * * Mon-Fri
    displayName: Mon-Fri 8:30 PM (UTC - 7) Build
    branches:
      include:
      - internal/main
  ...

eng/pipelines/dotnet-sqlclient-signing-pipeline.yml:
  name: $(Year:YY)$(DayOfYear)$(Rev:.r)
  schedules:
  - cron: 30 4 * * Mon
    displayName: Weekly Sunday 9:30 PM (UTC - 7) Build
    branches:
      include:
      - internal/main
    always: true
  - cron: 30 3 * * Mon-Fri
    displayName: Mon-Fri 8:30 PM (UTC - 7) Build
    branches:
      include:
      - internal/main
  ...

eng/pipelines/sqlclient-pr-package-ref-pipeline.yml:
  name: $(DayOfYear)$(Rev:rr)
  extends:
    template: dotnet-sqlclient-ci-core.yml@self
    parameters:
      buildConfiguration: ${{ parameters.buildConfiguration }}
      buildPlatforms: ${{ parameters.buildPlatforms }}
      referenceType: Package
  ...

eng/pipelines/sqlclient-pr-project-ref-pipeline.yml:
  name: $(DayOfYear)$(Rev:rr)
  extends:
    template: dotnet-sqlclient-ci-core.yml@self
    parameters:
      buildConfiguration: ${{ parameters.buildConfiguration }}
      buildPlatforms: ${{ parameters.buildPlatforms }}
      buildType: Project
  ...

Pin .NET SDK to 10.0.105 (#4165)
  global.json
Due: none

Rename stage file
  eng/pipelines/common/templates/jobs/ci-build-nugets-job.yml
  eng/pipelines/common/templates/jobs/ci-run-tests-job.yml
  eng/pipelines/onebranch/jobs/build-signed-csproj-package-job.yml
  eng/pipelines/onebranch/jobs/build-signed-sqlclient-package-job.yml
  eng/pipelines/steps/restore-dotnet-tools.yml
  pwsh.sln
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Remove accidental change
  pwsh.sln
Due: none

[6.1.5] Set SqlClient 6.1.5 version numbers (#4162)
  eng/pipelines/libraries/common-variables.yml
  eng/pipelines/libraries/mds-variables.yml
  eng/pipelines/variables/akv-official-variables.yml
  src/Microsoft.Data.SqlClient/tests/StressTests/Directory.Packages.props
  tools/props/Versions.props
  tools/specs/add-ons/Microsoft.Data.SqlClient.AlwaysEncrypted.AzureKeyVaultProvider.nuspec
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

placeholder
  doc/transacted-connection-pool-refactor-notes.md
  doc/transacted-connection-return-paths.md
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/ConnectionPool/ChannelDbConnectionPool.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/ChannelDbConnectionPoolTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/ConnectionPool/DbConnectionPoolTransactionTest.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Fix duplicated docs, and missing snippet ref (#4086)
  doc/snippets/Microsoft.Data.SqlClient/SqlCommand.xml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml

Gate test steps on setup success in CI pipeline (#4141)
  eng/pipelines/common/templates/jobs/ci-run-tests-job.yml
  eng/pipelines/common/templates/steps/run-all-tests-step.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Set SqlClient version information for the 7.0.1 release.
  eng/pipelines/onebranch/variables/common-variables.yml
  tools/props/Versions.props
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

[7.0.1] Set SqlClient 7.0.1 version numbers (#4164)
  eng/pipelines/onebranch/variables/common-variables.yml
  tools/props/Versions.props
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

fix: Replace DotNetCoreCLI@2 csproj build with MSBuild@1 build.proj -t:BuildNetCore
  eng/pipelines/sqlclient-kerberos.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Quarantine flaky tests with [Trait("Category", "flaky")]
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/LocalizationTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/AsyncTest/AsyncTimeoutTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectionPoolTest/ConnectionPoolTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/DataStreamTest/DataStreamTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/TracingTests/MetricsTest.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionFailoverTests.cs
  src/Microsoft.Data.SqlClient/tests/UnitTests/SimulatedServerTests/ConnectionRoutingTests.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Fix symbol publishing connectivity and extract script
  eng/pipelines/common/templates/steps/Publish-Symbols.ps1
  eng/pipelines/common/templates/steps/publish-symbols-step.yml
  eng/pipelines/common/templates/steps/tests/Publish-Symbols.Tests.ps1
  eng/pipelines/common/templates/steps/tests/README.md
  eng/pipelines/libraries/mds-variables.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Address Copilot review feedback on PR #4171
  eng/pipelines/common/templates/steps/Publish-Symbols.ps1
  eng/pipelines/common/templates/steps/publish-symbols-step.yml
  eng/pipelines/common/templates/steps/tests/Publish-Symbols.Tests.ps1
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Addressed Copilot comments.
  eng/pipelines/common/templates/steps/publish-symbols-step.yml
  eng/pipelines/common/templates/steps/tests/Publish-Symbols.Tests.ps1
  eng/pipelines/libraries/mds-variables.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Official Build Cleanup 2 (#4155)
  eng/pipelines/onebranch/jobs/validate-signed-package-job.yml
  eng/pipelines/onebranch/sqlclient-non-official.yml
  eng/pipelines/onebranch/sqlclient-official.yml
  eng/pipelines/onebranch/stages/build-stages.yml
  eng/pipelines/onebranch/steps/roslyn-analyzers-sqlclient-step.yml
  eng/pipelines/onebranch/variables/onebranch-variables.yml
  eng/pipelines/onebranch/variables/package-variables.yml
  src/Microsoft.Data.SqlClient.Extensions/Abstractions/src/AbstractionsVersions.props
  src/Microsoft.Data.SqlClient.Extensions/Azure/src/AzureVersions.props
  src/Microsoft.Data.SqlClient.Internal/Logging/src/LoggingVersions.props
  src/Microsoft.Data.SqlClient/MdsVersions.props
  src/Microsoft.Data.SqlClient/add-ons/AzureKeyVaultProvider/AkvProviderVersions.props
  tools/props/Versions.props
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Replaced hardcoded symbols publishing values with Symbols Publishing group variables.
  .github/instructions/onebranch-pipeline-design.instructions.md
  eng/pipelines/onebranch/steps/publish-symbols-step.yml
  eng/pipelines/onebranch/variables/common-variables.yml
  eng/pipelines/onebranch/variables/sqlclient-validation-variables.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Switched from akv-variables-v2 to Symbols Publishing library group.
  eng/pipelines/common/templates/steps/publish-symbols-step.yml
  eng/pipelines/libraries/mds-variables.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Removed mention of Release Variables library group.
  .github/instructions/onebranch-pipeline-design.instructions.md
Due: none

- Moved PowerShell into a separate script for modularity and testability. - Added better diagnostic logging.
  .github/instructions/onebranch-pipeline-design.instructions.md
  eng/pipelines/onebranch/steps/Publish-Symbols.ps1
  eng/pipelines/onebranch/steps/publish-symbols-step.yml
  eng/pipelines/onebranch/steps/tests/Publish-Symbols.Tests.ps1
  eng/pipelines/onebranch/steps/tests/README.md
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add SQL Server readiness checks to Windows pipeline setup
  eng/pipelines/common/templates/steps/configure-sql-server-win-step.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Use Rosetta 2 and improve robustness for macOS SQL Server setup
  eng/pipelines/common/templates/steps/configure-sql-server-macos-step.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add license headers, fix help docs, and update README
  eng/pipelines/common/templates/steps/Publish-Symbols.ps1
  eng/pipelines/common/templates/steps/tests/Publish-Symbols.Tests.ps1
  eng/pipelines/common/templates/steps/tests/README.md
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Remove obsolete --vz-rosetta flag from colima start
  eng/pipelines/common/templates/steps/configure-sql-server-macos-step.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Install .NEY 10 and update ESRP variables in use.
  eng/pipelines/onebranch/steps/esrp-code-signing-step.yml
  eng/pipelines/steps/install-dotnet.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Install .NET 10, address official build requirements, and update ESRP variables in use.
  eng/pipelines/onebranch/jobs/build-akv-official-job.yml
  eng/pipelines/onebranch/jobs/build-signed-package-job.yml
  eng/pipelines/onebranch/sqlclient-non-official.yml
  eng/pipelines/onebranch/steps/compound-esrp-code-signing-step.yml
  eng/pipelines/onebranch/steps/esrp-code-signing-step.yml
  eng/pipelines/steps/install-dotnet.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Update metadata query to fix Synapse SQL dedicated pool compatibility
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlBulkCopy.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/CopyAllFromReader.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Minor touch-ups
  eng/pipelines/onebranch/jobs/build-signed-package-job.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Capture research notes.
  .github/plans/connection-pool-transactions/01-research/01-system-transactions-overview.md
  .github/plans/connection-pool-transactions/01-research/02-sqlclient-transaction-enlistment.md
  .github/plans/connection-pool-transactions/01-research/03-delegated-transactions-and-promotion.md
  .github/plans/connection-pool-transactions/01-research/04-connection-transaction-binding-rules.md
  .github/plans/connection-pool-transactions/01-research/05-threading-model.md
  .github/plans/connection-pool-transactions/01-research/06-connection-return-and-cleanup-paths.md
  .github/plans/connection-pool-transactions/01-research/08-failure-modes-and-edge-cases.md
  .github/plans/connection-pool-transactions/03-design/pool-comparison-and-decisions.md
  .github/plans/connection-pool-transactions/03-design/terminology-renames.md
  .github/plans/connection-pool-transactions/outline.md
  doc/transacted-connection-pool-refactor-notes.md
  doc/transacted-connection-return-paths.md
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/ProviderBase/DbConnectionInternal.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Merge | Cleanup (#4145)
  build.proj
  eng/pipelines/onebranch/steps/roslyn-analyzers-csproj-step.yml
  src/Directory.Build.props
  src/Microsoft.Data.SqlClient.slnx
  src/Microsoft.Data.SqlClient/netcore/ref/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netfx/ref/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netfx/tools/targets/GenerateAssemblyInfo.targets
  src/Microsoft.Data.SqlClient/netfx/tools/targets/GenerateAssemblyRef.targets
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/Microsoft.Data.SqlClient.FunctionalTests.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTests.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Address/Address.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Circle/Circle.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Shapes/Shapes.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Utf8String/Utf8String.csproj
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/Microsoft.Data.SqlClient.PerformanceTests.csproj
  src/Microsoft.Data.SqlClient/tests/UnitTests/Microsoft.Data.SqlClient.UnitTests.csproj
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.ExtUtilities/Microsoft.Data.SqlClient.ExtUtilities.csproj
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities/Microsoft.Data.SqlClient.TestUtilities.csproj
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS.EndPoint/TDS.EndPoint.csproj
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS.Servers/TDS.Servers.csproj
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS/TDS.csproj
  tools/GenAPI/Directory.Build.props
  tools/props/Tools.props
  tools/targets/CompareMdsRefAssemblies.targets
  tools/targets/GenerateMdsPackage.targets
  tools/targets/NotSupported.targets
  tools/targets/ResolveContract.targets
  tools/targets/TrimDocsForIntelliSense.targets
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Restructure research
  .github/plans/connection-pool-transactions/01-research/01-system-transactions-fundamentals.md
  .github/plans/connection-pool-transactions/01-research/01-system-transactions-overview.md
  .github/plans/connection-pool-transactions/01-research/02-delegated-transactions-and-pspe.md
  .github/plans/connection-pool-transactions/01-research/02-sqlclient-transaction-enlistment.md
  .github/plans/connection-pool-transactions/01-research/03-connection-enlistment-lifecycle.md
  .github/plans/connection-pool-transactions/01-research/03-delegated-transactions-and-promotion.md
  .github/plans/connection-pool-transactions/01-research/04-connection-transaction-binding-rules.md
  .github/plans/connection-pool-transactions/01-research/04-transaction-cloning.md
  .github/plans/connection-pool-transactions/01-research/05-connection-transaction-binding.md
  .github/plans/connection-pool-transactions/01-research/05-threading-model.md
  .github/plans/connection-pool-transactions/01-research/06-connection-return-and-cleanup-paths.md
  .github/plans/connection-pool-transactions/01-research/07-threading-and-synchronization.md
  .github/plans/connection-pool-transactions/01-research/08-failure-modes-and-edge-cases.md
  .github/plans/connection-pool-transactions/outline.md
Due: none

Add research slideshow
  .github/plans/connection-pool-transactions/01-research/06-connection-return-and-cleanup-paths.md
  .github/plans/connection-pool-transactions/01-research/08-failure-modes-and-edge-cases.md
  .github/plans/connection-pool-transactions/01-research/diagrams/delegated-vs-propagated.mmd
  .github/plans/connection-pool-transactions/01-research/diagrams/delegated-vs-propagated.svg
  .github/plans/connection-pool-transactions/01-research/diagrams/enlistment-entry-points.mmd
  .github/plans/connection-pool-transactions/01-research/diagrams/enlistment-entry-points.svg
  .github/plans/connection-pool-transactions/01-research/diagrams/lightweight-vs-distributed.mmd
  .github/plans/connection-pool-transactions/01-research/diagrams/lightweight-vs-distributed.svg
  .github/plans/connection-pool-transactions/01-research/diagrams/pool-lookup-order.mmd
  .github/plans/connection-pool-transactions/01-research/diagrams/pool-lookup-order.svg
  .github/plans/connection-pool-transactions/01-research/diagrams/pspe-delegation-sequence.mmd
  .github/plans/connection-pool-transactions/01-research/diagrams/pspe-delegation-sequence.svg
  .github/plans/connection-pool-transactions/01-research/diagrams/return-path-txn-complete.mmd
  .github/plans/connection-pool-transactions/01-research/diagrams/return-path-txn-complete.svg
  .github/plans/connection-pool-transactions/01-research/diagrams/return-path-user-close.mmd
  .github/plans/connection-pool-transactions/01-research/diagrams/return-path-user-close.svg
  .github/plans/connection-pool-transactions/01-research/diagrams/threading-two-threads.mmd
  .github/plans/connection-pool-transactions/01-research/diagrams/threading-two-threads.svg
  .github/plans/connection-pool-transactions/01-research/presentation.md
  .github/prompts/generate-skill.prompt.md
  .github/prompts/research-slideshow.prompt.md
  .github/skills/render-mermaid/SKILL.md
  .github/skills/render-mermaid/render.mjs
Due: none

Add requirements, design, and related work.
  .github/plans/connection-pool-clear/outline.md
  .github/plans/connection-pool-shutdown/outline.md
  .github/plans/connection-pool-transactions/01-research/09-mars-pooling-and-transactions.md
  .github/plans/connection-pool-transactions/02-requirements/requirements.md
  .github/plans/connection-pool-transactions/03-design/design.md
  .github/plans/connection-pool-transactions/outline.md
Due: none

Skip signature validation in non-official + .net sdk upgrade
  eng/pipelines/onebranch/jobs/validate-signed-package-job.yml
  global.json
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Copilot review response
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlBulkCopy.cs
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Add agentic workflow for automated issue triage
  .github/aw/actions-lock.json
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
Due: none

Align triage label names with issue template conventions
  .github/workflows/issue-triage.md
Due: none

Constrain to single area label to stay within max:5 safe-outputs limit
  .github/workflows/issue-triage.md
Due: none

Address PR review: add -ConnectionTimeout and fix budget comments
  eng/pipelines/common/templates/steps/configure-sql-server-win-step.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Use exact container name matching in liveness checks
  eng/pipelines/common/templates/steps/configure-sql-server-macos-step.yml
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Address Copilot review: fix step count and table formatting
  .github/instructions/onebranch-pipeline-design.instructions.md
  eng/pipelines/onebranch/steps/Publish-Symbols.ps1
Due: eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml, eng/pipelines/dotnet-sqlclient-signing-pipeline.yml, eng/pipelines/sqlclient-pr-package-ref-pipeline.yml, eng/pipelines/sqlclient-pr-project-ref-pipeline.yml

Path conditions:
  eng/pipelines/dotnet-sqlclient-ci-package-reference-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-ci-project-reference-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-signing-official-pipeline.yml: any of: .azuredevops, .config, doc, eng/pipelines, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/dotnet-sqlclient-signing-pipeline.yml: any of: .azuredevops, .config, doc, eng/pipelines, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/sqlclient-pr-package-ref-pipeline.yml: any of: .azuredevops, .config, doc, eng, src, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
  eng/pipelines/sqlclient-pr-project-ref-pipeline.yml: any of: .azuredevops, .config, src, eng, tools, azurepipelines-coverage.yml, build.proj, NuGet.config
